:where(.hop-OverlineText) {
    --hop-OverlineText-font-family: var(--hop-overline-font-family);
    --hop-OverlineText-font-size: var(--hop-overline-font-size);
    --hop-OverlineText-font-weight: var(--hop-overline-font-weight);
    --hop-OverlineText-letter-spacing: 0.015rem;
    --hop-OverlineText-line-height: var(--hop-overline-line-height);
    --hop-OverlineText-top-offset: var(--hop-overline-top-offset);
    --hop-OverlineText-bottom-offset: var(--hop-overline-bottom-offset);

    /* Internal Variables */
    --font-family: var(--hop-OverlineText-font-family);
    --font-size: var(--hop-OverlineText-font-size);
    --font-weight: var(--hop-OverlineText-font-weight);
    --letter-spacing: var(--hop-OverlineText-letter-spacing);
    --line-height: var(--hop-OverlineText-line-height);
    --top-offset: var(--hop-OverlineText-top-offset);
    --bottom-offset: var(--hop-OverlineText-bottom-offset);

    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-feature-settings: "case"; /* Needed to use an alternate version of the font, which has a better + sign. */
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}

.hop-OverlineText__text {
    box-sizing: border-box;
}

.hop-OverlineText__text::before,
.hop-OverlineText__text::after {
    content: '';

    display: block;

    box-sizing: border-box;
    inline-size: 0;
    block-size: 0;
}

.hop-OverlineText__text::before {
    /* -0.125rem */
    margin-block-end: var(--bottom-offset);
}

.hop-OverlineText__text::after {
    /* -0.25rem */
    margin-block-start: var(--top-offset);
}
