.hd-icon-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 100%;
}

.hd-icon-item-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hd-icon-item__icon,
.hd-icon-item-copy {
    aspect-ratio: 1;
    width: 3rem;
    color: var(--hd-color-neutral-icon);
}

.hd-icon-item__icon {
    align-items: center;
    border-radius: var(--hd-space-1);
    display: flex;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.hd-icon-item-copy:not([disabled]):hover {
    background-color: #95959326;
}

.hd-icon-item-copy[disabled]:hover {
    cursor: not-allowed;
}

.hd-icon-item__title {
    color: var(--hd-color-neutral-text-weak);
    font-size: 0.875rem;
    margin-top: var(--hd-space-1);
    padding-bottom: var(--hd-space-2);
}
