.hd-icon-table {
    border: 0.0625rem solid var(--hd-color-neutral-border);
    border-radius: var(--hd-space-1);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    padding: var(--hd-space-2);
}
