.hop-Tooltip {
    --hop-Tooltip-max-inline-size: 25rem;
    --hop-Tooltip-slide-amount: 0.25rem; /* Tokens not available here */

    /* Internal Variables */
    --origin-x: 0;
    --origin-y: 0;

    max-inline-size: var(--hop-Tooltip-max-inline-size);
}

.hop-Tooltip--top {
    --origin-x: 0;
    --origin-y: var(--hop-Tooltip-slide-amount);
}

.hop-Tooltip--right {
    --origin-x: calc(-1 * var(--hop-Tooltip-slide-amount));
    --origin-y: 0;
}

.hop-Tooltip--bottom {
    --origin-x: 0;
    --origin-y: calc(-1 * var(--hop-Tooltip-slide-amount));
}

.hop-Tooltip--left {
    --origin-x: var(--hop-Tooltip-slide-amount);
    --origin-y: 0;
}

.hop-Tooltip[data-entering] {
    animation: slide 0.2s ease-out;
}

.hop-Tooltip[data-exiting] {
    animation: slide 0.2s ease-in reverse;
}

.hop-Tooltip__container {
    --hop-Tooltip-background: var(--hop-neutral-surface-strong);
    --hop-Tooltip-border-radius: var(--hop-shape-rounded-md);
    --hop-Tooltip-box-shadow: var(--hop-elevation-raised);
    --hop-Tooltip-color: var(--hop-neutral-text-strong);
    --hop-Tooltip-padding: var(--hop-space-inset-squish-md);

    padding: var(--hop-Tooltip-padding);

    color: var(--hop-Tooltip-color);

    background: var(--hop-Tooltip-background);
    border-radius: var(--hop-Tooltip-border-radius);
    box-shadow: var(--hop-Tooltip-box-shadow);
}

@keyframes slide {
    from {
      transform: translate(var(--origin-x), var(--origin-y));
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
