.hd-codeblock-copy-button {
    aspect-ratio: 1/1;
    border-radius: var(--hd-space-05);
    width: var(--hd-space-4);
}

.hd-codeblock-copy-button:not([disabled]):hover {
    background-color: var(--hd-color-neutral-surface-weak);
}

.hd-codeblock-copy-button__icon {
    stroke: var(--hd-neutral-20);
}

.hd-codeblock-copy-button:not([disabled]):hover .hd-codeblock-copy-button__icon {
    stroke: var(--hd-neutral-900);
}
