.hop-HelperMessage  {
    --hop-HelperMessage-color: var(--hop-neutral-text-weak);
    --hop-HelperMessage-column-gap: var(--hop-space-inline-xs);

    display: flex;
    column-gap: var(--hop-HelperMessage-column-gap);
    align-items: center;

    box-sizing: border-box;

    color: var(--hop-HelperMessage-color);
}

.hop-HelperMessage__icon {
    flex: 0 0 auto;
    align-self: flex-start
}