.hop-Avatar  {
    /* Default */
    --hop-Avatar-border-radius: var(--hop-shape-circle);
    --hop-Avatar-mix-blend-mode: normal;

    /* Colors */
    --hop-Avatar-decorative-1-background-color: var(--hop-decorative-option1-surface-strong);
    --hop-Avatar-decorative-2-background-color: var(--hop-decorative-option2-surface-strong);
    --hop-Avatar-decorative-3-background-color: var(--hop-decorative-option3-surface-strong);
    --hop-Avatar-decorative-4-background-color: var(--hop-decorative-option4-surface-strong);
    --hop-Avatar-decorative-5-background-color: var(--hop-decorative-option5-surface-strong);
    --hop-Avatar-decorative-6-background-color: var(--hop-decorative-option6-surface-strong);
    --hop-Avatar-decorative-7-background-color: var(--hop-decorative-option7-surface-strong);
    --hop-Avatar-decorative-8-background-color: var(--hop-decorative-option8-surface-strong);
    --hop-Avatar-decorative-9-background-color: var(--hop-decorative-option9-surface-strong);
    --hop-Avatar-decorative-1-text-color: var(--hop-decorative-option1-text);
    --hop-Avatar-decorative-2-text-color: var(--hop-decorative-option2-text);
    --hop-Avatar-decorative-3-text-color: var(--hop-decorative-option3-text);
    --hop-Avatar-decorative-4-text-color: var(--hop-decorative-option4-text);
    --hop-Avatar-decorative-5-text-color: var(--hop-decorative-option5-text);
    --hop-Avatar-decorative-6-text-color: var(--hop-decorative-option6-text);
    --hop-Avatar-decorative-7-text-color: var(--hop-decorative-option7-text);
    --hop-Avatar-decorative-8-text-color: var(--hop-decorative-option8-text);
    --hop-Avatar-decorative-9-text-color: var(--hop-decorative-option9-text);

    /* xs */
    --hop-Avatar-xs-size: 1rem;

    /* sm */
    --hop-Avatar-sm-size: 1.5rem;

    /* md */
    --hop-Avatar-md-size: 2rem;

    /* lg */
    --hop-Avatar-lg-size: 3rem;

    /* xl */
    --hop-Avatar-xl-size: 4rem;

    /* 2xl */
    --hop-Avatar-2xl-size: 6rem;

    /* disabled */
    --hop-Avatar-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Avatar-text-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Avatar-mix-blend-mode-disabled: luminosity;

    /* Internal variables */
    --mlx-blend-mode: var(--hop-Avatar-mix-blend-mode);

    user-select: none;

    position: relative;

    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    inline-size: var(--size, var(--hop-Avatar-md-size));
    block-size: var(--size, var(--hop-Avatar-md-size));

    color: var(--text-color, var(--hop-neutral-text));

    background-color: var(--background-color, transparent);
    border-radius: var(--hop-Avatar-border-radius);
}

.hop-Avatar--xs {
    --size: var(--hop-Avatar-xs-size);
}

.hop-Avatar--sm {
    --size: var(--hop-Avatar-sm-size);
}

.hop-Avatar--md {
    --size: var(--hop-Avatar-md-size);
}

.hop-Avatar--lg {
    --size: var(--hop-Avatar-lg-size);
}

.hop-Avatar--xl {
    --size: var(--hop-Avatar-xl-size);
}

.hop-Avatar--2xl {
    --size: var(--hop-Avatar-2xl-size);
}

/* Colors */
.hop-Avatar--decorative-option1 {
    --background-color: var(--hop-Avatar-decorative-1-background-color);
    --text-color: var(--hop-Avatar-decorative-1-text-color);
}

.hop-Avatar--decorative-option2 {
    --background-color: var(--hop-Avatar-decorative-2-background-color);
    --text-color: var(--hop-Avatar-decorative-2-text-color);
}

.hop-Avatar--decorative-option3 {
    --background-color: var(--hop-Avatar-decorative-3-background-color);
    --text-color: var(--hop-Avatar-decorative-3-text-color);
}

.hop-Avatar--decorative-option4 {
    --background-color: var(--hop-Avatar-decorative-4-background-color);
    --text-color: var(--hop-Avatar-decorative-4-text-color);
}

.hop-Avatar--decorative-option5 {
    --background-color: var(--hop-Avatar-decorative-5-background-color);
    --text-color: var(--hop-Avatar-decorative-5-text-color);
}

.hop-Avatar--decorative-option6 {
    --background-color: var(--hop-Avatar-decorative-6-background-color);
    --text-color: var(--hop-Avatar-decorative-6-text-color);
}

.hop-Avatar--decorative-option7 {
    --background-color: var(--hop-Avatar-decorative-7-background-color);
    --text-color: var(--hop-Avatar-decorative-7-text-color);
}

.hop-Avatar--decorative-option8 {
    --background-color: var(--hop-Avatar-decorative-8-background-color);
    --text-color: var(--hop-Avatar-decorative-8-text-color);
}

.hop-Avatar--decorative-option9 {
    --background-color: var(--hop-Avatar-decorative-9-background-color);
    --text-color: var(--hop-Avatar-decorative-9-text-color);
}

.hop-Avatar[data-disabled] {
    --background-color: var(--hop-Avatar-background-color-disabled);
    --text-color: var(--hop-Avatar-text-color-disabled);
    --mlx-blend-mode: var(--hop-Avatar-mix-blend-mode-disabled);

    isolation: isolate;
}

.hop-Avatar__image {
    position: relative;

    display: block;

    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;

    object-fit: cover;
    mix-blend-mode: var(--mlx-blend-mode);
}