.hop-Avatar  {
    /* Default */
    --hop-Avatar-border-radius: var(--hop-shape-circle);
    --hop-Avatar-mix-blend-mode: normal;

    /* xs */
    --hop-Avatar-xs-size: 1rem;

    /* sm */
    --hop-Avatar-sm-size: 1.5rem;

    /* md */
    --hop-Avatar-md-size: 2rem;

    /* lg */
    --hop-Avatar-lg-size: 3rem;

    /* xl */
    --hop-Avatar-xl-size: 4rem;

    /* 2xl */
    --hop-Avatar-2xl-size: 6rem;

    /* disabled */
    --hop-Avatar-image-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Avatar-mix-blend-mode-disabled: luminosity;

    /* Internal variables */
    --mlx-blend-mode: var(--hop-Avatar-mix-blend-mode);

    user-select: none;

    position: relative;

    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    inline-size: var(--size, var(--hop-Avatar-md-size));
    block-size: var(--size, var(--hop-Avatar-md-size));

    border-radius: var(--hop-Avatar-border-radius);
}

.hop-Avatar--xs {
    --size: var(--hop-Avatar-xs-size);
}

.hop-Avatar--sm {
    --size: var(--hop-Avatar-sm-size);
}

.hop-Avatar--md {
    --size: var(--hop-Avatar-md-size);
}

.hop-Avatar--lg {
    --size: var(--hop-Avatar-lg-size);
}

.hop-Avatar--xl {
    --size: var(--hop-Avatar-xl-size);
}

.hop-Avatar--2xl {
    --size: var(--hop-Avatar-2xl-size);
}

/* The avatar that contains an image */
.hop-Avatar--image {
    overflow: hidden;
}

.hop-Avatar--image[data-disabled] {
    --mlx-blend-mode: var(--hop-Avatar-mix-blend-mode-disabled);

    isolation: isolate;
    background-color: var(--hop-Avatar-image-background-color-disabled);
}

.hop-Avatar__image {
    position: relative;

    display: block;

    box-sizing: border-box;
    inline-size: 100%;
    block-size: auto;

    object-fit: cover;
    mix-blend-mode: var(--mlx-blend-mode);
}