.hd-card {
    border-radius: var(--hd-space-2);
    border: var(--hd-border-size) solid var(--hd-color-neutral-border);
    padding: var(--hd-space-4);
}

.hd-card + p {
    margin-top: var(--hd-space-4);
}
