# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
**/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
/.idea

# Project
.contentlayer

# storybook
build-storybook.log

# storybook generated doc
/packages/tokens/docs/
/public/design-tokens.source.json

# build artifacts
**/dist/
**/stories/datas

# contains our project's chromatic ID
chromatic.config.json

# generated component data documentation
/apps/docs/datas
