@font-face {
    font-family: "ABC Favorit V";
    font-style: normal;
    font-weight: 100 900;
    src: url("https://cdn.platform.workleap-dev.com/hopper/fonts/ABCFavoritVariable.woff2") format("woff2-variations");
    font-display: fallback;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    font-family: "ABC Favorit V", sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 580;
    border-radius: 8px;
    font-feature-settings: "zero", "tnum", "ss05";
}

.sidebar-item.selected {
    background-color: rgb(236, 235, 232);
}

.sidebar-item:hover {
    background-color: rgb(224, 223, 221);
}

.sidebar-item a {
    font-size: 1rem;
    font-weight: inherit;
    line-height: 1.5;
}
