@import url('@/styles/tokens.css');
@import url('@/styles/themes/rehype.css');

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--hd-color-surface-neutral-selection);
}

body {
    font-family: var(--hd-default-font-family);
    font-size: var(--hd-default-font-size);
    color: var(--hd-color-neutral-text);
    background-color: var(--hd-color-neutral-surface);
}

a {
    color: inherit;
    text-decoration: none;
}

[data-theme="dark"] {
    color-scheme: dark;
}

.hd-wrapper {
    width: min(100% - 3rem, 75rem);
    margin-inline: auto;
    gap: 1.5rem;;
}

.hd-flex {
    display: flex;
}

.highlight {
    background: #1ea7fd2b;
    border-radius: 0.25rem;
}
