html {
    --scroll-behavior: smooth !important;

    scroll-behavior: smooth !important;
}

/* let's offset our scrolls to the size of our top sticky bar */
:target::before {
    content: "";
    display: block;
    height: var(--hd-header-height);
    margin: calc(-1 * var(--hd-space-8)) 0 0;
}

/* New layout start here */
.hd-layout {
    --layout-width: 102rem;
    --nav-width: 14.875rem;
    --aside-width: 14.875rem;

    overscroll-behavior-y: contain;
}

.hd-layout-with-nav {
    @media screen and (width >= 48rem) {
        padding-inline: var(--hd-space-2);
    }

    @media screen and (width >= 48rem) {
        display: grid;
        grid-template-columns: var(--nav-width) minmax(0, 1fr);
        gap: var(--hd-space-4);
    }
}

.hd-layout__wrapper > .hd-section {
    min-width: 0;
    width: 100%;
}

.hd-layout__wrapper .hd-sub-header {
    margin-inline: calc(-1 * var(--hd-space-2));
}

main {
    padding-block: var(--hd-space-8);
    flex: 1 1 auto;
    min-width: 0;
    order: 1;
}

@media screen and (width >= 64rem) {
    .hd-container {
        display: grid;
        grid-template-columns: 1fr var(--aside-width);
        gap: var(--hd-space-6);
    }

    .hd-container:not(:has(.hd-aside)) {
        grid-template-columns: 1fr;
    }

    main {
        order: 1;
    }
}

:where(p) {
    font-size: 1rem;
    line-height: 1.5;
}

.hd-content ul {
    list-style-position: inside;
}

.hd-content p:not(:last-child) {
    margin-block-end: 1.25rem;
}

.hd-content p + * {
    margin-block: var(--hd-space-3);
}

.hd-content ul li:not([class]) {
    line-height: 1.5;
    list-style-position: outside;
    margin-block-end: var(--hd-space-1);
    margin-inline-start: var(--hd-space-2);
}

.hd-content p a,
.hd-content li a {
    text-decoration: underline;
}

/* reset the underline for the card */
.hd-content .hd-component-preview-wrapper__card p a,
.hd-content .hd-component-preview-wrapper__card li a {
    text-decoration: unset;
}

.hd-content [data-rehype-pretty-code-figure] {
    margin-block-end: var(--hd-space-3);
}

article table + p {
    margin-block-start: 2rem;
}
