main {
    padding-block: var(--hd-space-8);
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin-block-end: 1rem;
}

h2 {
    font-size: 1.5em;
    margin-block: 3rem 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

p + p {
    margin-block-start: 1.25rem;
}
