html {
    --scroll-behavior: smooth !important;

    scroll-behavior: smooth !important;
}

/* let's offset our scrolls to the size of our top sticky bar */
:target::before {
    content: "";
    display: block;
    height: var(--hd-header-height);
    margin: calc(-1 * var(--hd-space-8)) 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 1;
    gap: var(--hd-space-3);
    position: relative;
}

main {
    padding-block-end: var(--hd-space-8);
    padding-block-start: var(--hd-space-4);
    flex: 1 1 auto;
    min-width: 0;
    order: 1;
}

@media screen and (min-width: 768px) {
    main {
        padding-block-start: 0;
    }
}

@media screen and (min-width: 992px) {
    .container {
        flex-direction: row;
    }
    main {
        order: 1;
        padding-block-start: var(--hd-space-8);
    }
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

p:not(:last-child) {
    margin-block-end: 1.25rem;
}

p + * {
    margin-block-start: var(--hd-space-3);
}
