html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

/* let's offset our scrolls to the size of our top sticky bar */
:target:before {
    content: "";
    display: block;
    height: var(--hd-header-height);
    margin: calc(-1 * var(--hd-space-8)) 0 0;
}

main {
    padding-block: var(--hd-space-8);
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

p + p {
    margin-block-start: 1.25rem;
}

p + * {
    margin-block-start: 1.5rem;
}
