:root {
    --hd-default-font-size: 1rem;
    --hd-default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --hd-opacity: 1;

    --hd-step--1: clamp(0.84rem, calc(0.90rem + -0.08vw), 0.89rem);
    --hd-step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --hd-step-1: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.50rem);
    --hd-step-2: clamp(1.27rem, calc(1.01rem + 1.28vw), 2.00rem);
    --hd-step-3: clamp(1.42rem, calc(0.99rem + 2.16vw), 2.66rem);
    --hd-step-4: clamp(1.60rem, calc(0.92rem + 3.39vw), 3.55rem);
    --hd-step-5: clamp(1.80rem, calc(0.78rem + 5.10vw), 4.74rem);

    --hd-primary-0: rgba(255, 255, 255, var(--hd-opacity, 1));
    --hd-primary-100: rgba(245, 245, 254, var(--hd-opacity, 1));
    --hd-primary-200: rgba(237, 236, 251, var(--hd-opacity, 1));
    --hd-primary-300: rgba(224, 225, 243, var(--hd-opacity, 1));
    --hd-primary-400: rgba(186, 188, 208, var(--hd-opacity, 1));
    --hd-primary-500: rgba(160, 162, 183, var(--hd-opacity, 1));
    --hd-primary-600: rgba(94, 96, 117, var(--hd-opacity, 1));
    --hd-primary-700: rgba(57, 58, 76, var(--hd-opacity, 1));
    --hd-primary-800: rgba(41, 43, 57, var(--hd-opacity, 1));
    --hd-primary-900: rgba(22, 24, 36, var(--hd-opacity, 1));
    --hd-primary-950: rgba(17, 18, 27, 1 var(--hd-opacity, 1));

    --hd-space-05: 0.25rem;
    --hd-space-1: 0.5rem;
    --hd-space-2: 1rem;
    --hd-space-3: 1.5rem;
    --hd-space-4: 2rem;
    --hd-space-5: 2.5rem;
    --hd-space-6: 3rem;
    --hd-space-7: 3.5rem;
    --hd-space-8: 4rem;
    --hd-space-9: 4.5rem;
    --hd-space-10: 5rem;
}