:root {
    --hd-default-font-size: 1rem;
    --hd-default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --hd-opacity: 1;

    --hd-step--1: clamp(0.84rem, calc(0.90rem + -0.08vw), 0.89rem);
    --hd-step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --hd-step-1: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.50rem);
    --hd-step-2: clamp(1.27rem, calc(1.01rem + 1.28vw), 2.00rem);
    --hd-step-3: clamp(1.42rem, calc(0.99rem + 2.16vw), 2.66rem);
    --hd-step-4: clamp(1.60rem, calc(0.92rem + 3.39vw), 3.55rem);
    --hd-step-5: clamp(1.80rem, calc(0.78rem + 5.10vw), 4.74rem);

    --hd-white: #FFFFFF;

    --hd-neutral-0: #FFFFFF;
    --hd-neutral-20: #FCFBFB;
    --hd-neutral-50: #ECEBE8;
    --hd-neutral-75: #E0DFDD;
    --hd-neutral-300: #959593;
    --hd-neutral-400: #777775;
    --hd-neutral-700: #505050;
    --hd-neutral-800: #3C3C3C;
    --hd-neutral-900: #292929;

    --hd-primary-0: #EDFCF6;
    --hd-primary-100: #D2F9E8;
    --hd-primary-200: #A9F1D6;
    --hd-primary-300: #72E3C0;
    --hd-primary-400: #39CEA5;
    --hd-primary-500: #17C097;
    --hd-primary-600: #11A77C;
    --hd-primary-700: #08745F;
    --hd-primary-800: #095C4C;
    --hd-primary-900: #084C40;
    --hd-primary-950: #032B25;

    --hd-space-05: 0.25rem;
    --hd-space-1: 0.5rem;
    --hd-space-2: 1rem;
    --hd-space-3: 1.5rem;
    --hd-space-4: 2rem;
    --hd-space-5: 2.5rem;
    --hd-space-6: 3rem;
    --hd-space-7: 3.5rem;
    --hd-space-8: 4rem;
    --hd-space-9: 4.5rem;
    --hd-space-10: 5rem;
}

[data-theme="light"] {
    --hd-color-neutral-surface: var(--hd-neutral-20);
    --hd-color-neutral-surface-weak: var(--hd-neutral-50);
    --hd-color-neutral-text: var(--hd-neutral-900);
    --hd-color-neutral-text-weak: var(--hd-neutral-700);
    --hd-color-neutral-text-weakest: var(--hd-neutral-400);
    --hd-color-primary-text: var(--hd-primary-600);
    --hd-color-primary-text-hover: var(--hd-primary-700);
    --hd-color-primary-text-strong: var(--hd-primary-900);
    --hd-color-primary-surface: var(--hd-primary-300);
    --hd-color-primary-surface-hover: var(--hd-primary-500);
    --hd-color-primary-border: var(--hd-primary-600);
    --hd-color-neutral-icon: var(--hd-neutral-900);
    --hd-color-neutral-icon-hover: var(--hd-primary-900);
    --hd-color-neutral-border: var(--hd-neutral-75);
    --hd-color-neutral-border-weak: var(--hd-neutral-20);
}

/* Dark Theme Overrides */
[data-theme="dark"] {
    --hd-color-neutral-surface: var(--hd-neutral-900);
    --hd-color-neutral-surface-weak: var(--hd-neutral-800);
    --hd-color-neutral-text: var(--hd-neutral-0);
    --hd-color-neutral-text-weak: var(--hd-neutral-300);
    --hd-color-neutral-text-weakest: var(--hd-neutral-300);
    --hd-color-primary-text: var(--hd-primary-600);
    --hd-color-primary-text-hover: var(--hd-white);
    --hd-color-primary-text-strong: var(--hd-primary-900);
    --hd-color-primary-surface: var(--hd-primary-300);
    --hd-color-primary-surface-hover: var(--hd-primary-500);
    --hd-color-primary-border: var(--hd-primary-600);
    --hd-color-primary-border-weak: var(--hd-primary-700);
    --hd-color-neutral-icon: var(--hd-neutral-0);
    --hd-color-neutral-icon-hover: var(--hd-primary-900);
    --hd-color-neutral-border: var(--hd-neutral-700);
}
