:root {
    --hd-nav-font-size: 0.875rem;
    --hd-nav-line-height: 1;
    --hd-nav-color: var(--hd-color-text-secondary);
    --hd-nav-background-color-hover: var(--hd-color-surface-secondary);
}

.hd-nav {
    font-size: var(--hd-nav-font-size);
    line-height: var(--hd-nav-line-height);
    display: none;
}

@media screen and (width >= 37.5rem) {
    .hd-nav {
        display: block;
    }
}


.hd-nav__list {
    display: flex;
    list-style: none;
    gap: var(--hd-space-05);
}

.hd-nav__list-item {
    display: flex;
    border-radius: var(--hd-space-05);
    transition: background-color 0.15s ease-in, color 0.05s linear;
}

.hd-nav__link {
    padding-inline: var(--hd-space-2);
    padding-block: var(--hd-space-1);
}

.hd-nav__list-item--active,
.hd-nav__list-item:hover {
    background-color: var(--hd-color-neutral-surface-weak);
}
