:root {
    --max-sidebar-width: 20rem;
    --sidebar-width: min(calc(100vw - 4rem), var(--max-sidebar-width));
}

.hd-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(calc(-1 * var(--sidebar-width)));
    width: var(--sidebar-width);
    max-width: var(--max-sidebar-width);
    z-index: var(--hd-z-index-800);
    flex-basis: 15rem;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--hd-color-neutral-surface);
    padding-inline: var(--hd-space-3);
    opacity: 0;
}


@media screen and (width >= 48rem) {
    .hd-sidebar {
        position: sticky;
        background-color: transparent;
        display: block;
        top: var(--hd-space-8);
        left: initial;
        transform: translateX(0);
        opacity: 1;
        padding-inline: 0;
        width: auto;
        max-width: inherit;
        height: calc(100vh - calc(var(--hd-space-8) * 2));
        z-index: 0;
        transition: none;
    }
}

.hd-sidebar--open {
    transition: opacity .25s, transform .3s cubic-bezier(.19, 1, .22, 1);
    transform: translateX(0);
    opacity: 1;
}

.hd-sidebar__container {
    display: flex;
    flex-direction: column;
    gap: var(--hd-space-2);
    overflow-y: auto;
    scroll-margin-top: var(--hd-space-8);
    scrollbar-width: thin;
    scrollbar-color: var(--hd-scrollbar-color) transparent;
    scrollbar-gutter: stable;
    height: calc(100vh - calc(var(--hd-space-8) * 2));
    width: 100%;
    padding-block: 0;
    position: relative;
    top: var(--hd-space-05);
}

.hd-sidebar__wrapper {
    padding-block: var(--hd-space-6);
}

@media screen and (width >= 48rem) {
    .hd-sidebar__wrapper {
        padding-block: var(--hd-space-6);
    }
}

.hd-sidebar__list {
    list-style-type: none;
}

.hd-sidebar__nested-list {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--hd-space-1);
}

.hd-sidebar__nested-list .hd-sidebar__item {
    padding-left: var(--hd-space-1);
    line-height: 2;
    border-inline-start: var(--hd-border-size) solid transparent;
    display: flex;
}

.hd-sidebar__nested-list .hd-sidebar__item--active {
    border-inline-start: var(--hd-border-size) solid var(--hd-color-accent-border);
    color: var(--hd-color-accent-text);
}

.hd-sidebar__nested-list .hd-sidebar__item:hover {
    color: var(--hd-color-accent-text);
}

.hd-sidebar-section:has(.hd-sidebar__nested-list:empty) {
    display: none;
}

.hd-sidebar-section.hd-sidebar__item {
    font-weight: 600;
    font-size: 1rem;
}

.hd-sidebar__item {
    font-weight: 400;
    font-size: 0.875rem;
}

.hd-sidebar__link {
    display: inline-flex;
    width: 90%;
    transition: background-color .2s ease-in;
    outline-offset: -1px; /* stylelint-disable-line unit-allowed-list */
}

.hd-sidebar__link:focus-visible {
    outline: none;
    box-shadow: var(--hd-focus-ring);
    border-radius: 0.125em;
}

/* Sub Nav */
.hd-sidebar-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.hd-sidebar-trigger__icon {
    stroke: var(--hd-color-neutral-icon);
    rotate: 180deg;
}

.hd-sidebar-list__details[open] .hd-sidebar-trigger__icon {
    rotate: 0deg;
}
