.hop-SegmentedControl {
    --hop-SegmentedControl-gap: var(--hop-space-inline-xs);
    --hop-SegmentedControl-padding: var(--hop-space-inset-xs);
    --hop-SegmentedControl-witdh: fit-content;
    --hop-SegmentedControl-background: var(--hop-neutral-surface);
    --hop-SegmentedControl-border: 0.0625rem solid var(--hop-neutral-border);
    --hop-SegmentedControl-border-radius: var(--hop-shape-rounded-md);

     /* Item background selected animation */
    --hop-SegmentedControl-item-width: 0rem;
    --hop-SegmentedControl-item-border-radius: var(--hop-shape-rounded-sm);
    --hop-SegmentedControl-item-offset: 0rem;

    display: flex;
    gap: var(--hop-SegmentedControl-gap);
    align-items: center;
    justify-content: center;

    inline-size: var(--hop-SegmentedControl-witdh);
    padding: var(--hop-SegmentedControl-padding);

    background: var(--hop-SegmentedControl-background);
    border: var(--hop-SegmentedControl-border);
    border-radius: var(--hop-SegmentedControl-border-radius)
}


