.hop-SegmentedControlItem {
    /* Default */
    --hop-SegmentedControlItem-gap: var(--hop-space-inline-xs);
    --hop-SegmentedControlItem-color: var(--hop-neutral-text);
    --hop-SegmentedControlItem-background: transparent;
    --hop-SegmentedControlItem-border: none;
    --hop-SegmentedControlItem-border-radius: var(--hop-shape-rounded-sm);
    --hop-SegmentedControlItem-cursor: auto;
    --hop-SegmentedControlItem-z-index: 1;
    --hop-SegmentedControlItem-color-transition: color 0.3s;

    /* Small */
    --hop-SegmentedControlItem-sm-padding:  0.125rem var(--hop-space-inset-md);

    /* Medium */
    --hop-SegmentedControlItem-md-padding:  0.375rem var(--hop-space-inset-md);

    cursor: var(--hop-SegmentedControlItem-cursor);

    z-index: var(--hop-SegmentedControlItem-z-index);

    display: flex;
    gap: var(--hop-SegmentedControlItem-gap);
    align-items: center;
    justify-content: center;

    padding: var(--hop-SegmentedControlItem-sm-padding);

    color: var(--hop-SegmentedControlItem-color);

    background: var(--hop-SegmentedControlItem-background);
    border: var(--hop-SegmentedControlItem-border);
    border-radius: var(--hop-SegmentedControlItem-border-radius);

    transition: var(--hop-SegmentedControlItem-color-transition);
}

.hop-SegmentedControlItem:not([data-disabled]) {
    --hop-SegmentedControlItem-cursor: pointer;
}

.hop-SegmentedControlItem[data-hovered], .hop-SegmentedControlItem[data-focused] {
    --hop-SegmentedControlItem-color: var(--hop-neutral-text-hover);
    --hop-SegmentedControlItem-background: var(--hop-neutral-surface-hover);
}

.hop-SegmentedControlItem[data-pressed] {
    --hop-SegmentedControlItem-color: var(--hop-neutral-text-press);
    --hop-SegmentedControlItem-background: var(--hop-neutral-surface-press);
}

.hop-SegmentedControlItem[data-selected] {
    --hop-SegmentedControlItem-color: var(--hop-neutral-text-selected);
    --hop-SegmentedControlItem-background: transparent;
}

.hop-SegmentedControlItem[data-disabled] {
    --hop-SegmentedControlItem-color: var(--hop-neutral-text-disabled);
    --hop-SegmentedControlItem-background: var(--hop-neutral-surface);
}

.hop-SegmentedControlItem--md {
    --hop-SegmentedControlItem-padding: var(--hop-SegmentedControlItem-md-padding);
}
