.hop-SegmentedControl {
    --hop-SegmentedControl-gap: var(--hop-space-inline-xs);
    --hop-SegmentedControl-padding: var(--hop-space-inset-xs);
    --hop-SegmentedControl-witdh: fit-content;
    --hop-SegmentedControl-background: var(--hop-neutral-surface);
    --hop-SegmentedControl-border: 0.0625rem solid var(--hop-neutral-border);
    --hop-SegmentedControl-border-radius: var(--hop-shape-rounded-md);

     /* Item background selected animation */
    --hop-SegmentedControl-item-width: 0rem;
    --hop-SegmentedControl-item-border-radius: var(--hop-shape-rounded-sm);
    --hop-SegmentedControl-item-offset: 0rem;

    position: relative;

    display: flex;
    gap: var(--hop-SegmentedControl-gap);
    align-items: center;
    justify-content: center;

    inline-size: var(--hop-SegmentedControl-witdh);
    padding: var(--hop-SegmentedControl-padding);

    background: var(--hop-SegmentedControl-background);
    border: var(--hop-SegmentedControl-border);
    border-radius: var(--hop-SegmentedControl-border-radius)
}

.hop-SegmentedControl::after {
    content: '';

    position: absolute;
    inset-block-start: var(--hop-SegmentedControl-padding);
    inset-inline-start: var(--hop-SegmentedControl-item-offset);

    inline-size: var(--hop-SegmentedControl-item-width);
    block-size: calc(100% - 2 * var(--hop-SegmentedControl-padding));

    background: var(--hop-neutral-surface-selected);
    border-radius: var(--hop-SegmentedControl-item-border-radius);

    transition: left 0.3s;
}
