.hd-heading {
    margin-block-end: var(--hd-space-4);
}

.hd-heading__title {
    display: flex;
    align-items: baseline;
    gap: var(--hd-space-1);
}

.hd-heading__description {
    margin-block-end: var(--hd-space-2);
}

.hd-heading__links {
    margin-inline: calc(var(--hd-space-1) * -1);
}
