.hd-heading {
    margin-block-end: var(--hd-space-4);
}

.hd-heading__title {
    display: flex;
    align-items: baseline;
    gap: var(--hd-space-1);
}

.hd-heading__description {
    font-size: 1.125rem;
    margin-block-end: var(--hd-space-2);
}

.hd-heading__links {
    margin-inline: calc(var(--hd-space-1) * -1);
}

.hd-heading__banner {
    background-color: var(--hd-color-neutral-surface-weak);
    border: 2px solid;
    border-radius: var(--hd-border-radius-sm);
    margin-block-end: var(--hd-space-4);
    padding: var(--hd-space-2);
}

.hd-heading__banner-title {
    font-weight: 600;
}

.hd-heading__banner-link {
    text-decoration: underline;
}
