.hop-Link  {
    --hop-Link-border-radius: var(--hop-shape-rounded-sm);
    --hop-Link-focus-ring-color: var(--hop-primary-border-focus); /* TODO: replace with a token */
    --hop-Link-color-disabled: var(--hop-neutral-text-disabled);

    cursor: pointer;

    display: inline-flex;
    column-gap: var(--hop-space-inline-xs);
    align-items: center;

    box-sizing: border-box;
    inline-size: fit-content;

    text-decoration: none;
    text-underline-offset: 0.125rem;

    border-radius: var(--hop-Link-border-radius);
    outline: none;
    outline-offset: 0.125rem;
}

/** Focus Ring */
.hop-Link[data-focus-visible] {
    outline: 0.125rem solid var(--hop-Link-focus-ring-color);
}

.hop-Link[data-disabled] {
    cursor: default;
}

.hop-Link--quiet[data-focus-visible],
.hop-Link--quiet[data-hovered] {
    text-decoration: underline;
}

.hop-Link:not(.hop-Link--quiet) {
    text-decoration: underline;
}

.hop-Link--primary {
    color: var(--hop-primary-text);
}

.hop-Link--primary[data-disabled] {
    color: var(--hop-primary-text-disabled);
}

.hop-Link--primary:not([data-disabled])[data-focus-visible],
.hop-Link--primary:not([data-disabled])[data-hovered] {
    color: var(--hop-primary-text-hover);
}

.hop-Link--secondary {
    color: var(--hop-neutral-text);
}

.hop-Link--secondary[data-disabled] {
    color: var(--hop-neutral-text-disabled);
}

.hop-Link--secondary:not([data-disabled])[data-focus-visible],
.hop-Link--secondary:not([data-disabled])[data-hovered] {
    color: var(--hop-neutral-text-hover);
}

.hop-Link__icon,
.hop-Link__icon-list {
    order: 2

    /* justify-self: end; */
}

.hop-Link__text {
    order: 1
}

.hop-Link__start-icon,
.hop-Link__start-icon-list {
    order: 0

    /* justify-self: end; */
}
