:root {
    --max-sidebar-width: 320px;
    --sidebar-width: min(calc(100vw - 64px), var(--max-sidebar-width));
}

.hd-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(calc(-1 * var(--sidebar-width)));
    width: var(--sidebar-width);
    max-width: var(--max-sidebar-width);
    z-index: 2;
    flex-basis: 15rem;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--hd-color-neutral-surface);
    padding-inline: var(--hd-space-3);
}

@media screen and (min-width: 768px) {
    .hd-sidebar {
        position: sticky;
        background-color: transparent;
        display: block;
        top: var(--hd-space-8);
        left: initial;
        transform: translateX(0);
        padding-inline: 0;
        width: auto;
        max-width: auto;
        height: calc(100vh - var(--hd-space-8));
        z-index: 0;
    }
}

.hd-sidebar--open {
    transform: translateX(0);
}

.hd-sidebar__container {
    display: flex;
    flex-direction: column;
    gap: var(--hd-space-2);
    overflow-y: scroll;
    scroll-margin-top: var(--hd-space-8);
    overscroll-behavior: contain;
    height: calc(100% - var(--hd-space-1));
    width: 100%;
    padding-block: var(--hd-space-6);
    position: relative;
    top: var(--hd-space-05);
}

@media screen and (min-width: 768px) {
    .hd-sidebar__container {
        padding-block: var(--hd-space-8);
    }
}

.hd-sidebar__list {
    list-style-type: none;
}

.hd-sidebar__nested-list {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--hd-space-1);
}

.hd-sidebar__nested-list .hd-sidebar__item {
    padding-left: var(--hd-space-1);
    line-height: 2;
    border-inline-start: var(--hd-border-size) solid transparent;
    display: flex;
}

.hd-sidebar__nested-list .hd-sidebar__item--active {
    border-inline-start: var(--hd-border-size) solid var(--hd-color-primary-border);
    color: var(--hd-color-primary-text);
}

.hd-sidebar__nested-list .hd-sidebar__item:hover {
    color: var(--hd-color-primary-text);
}

.hd-sidebar-section.hd-sidebar__item {
    font-weight: 600;
    font-size: 1rem;
}

.hd-sidebar__item {
    font-weight: 400;
    font-size: 0.875rem;
}

.hd-sidebar__link {
    display: inline-flex;
    flex-grow: 1;
    transition: background-color .2s ease-in;
    outline-offset: -1px; /* stylelint-disable-line unit-allowed-list */
}

/* ScrollBar */
.hd-sidebar__container::-webkit-scrollbar {
    width: var(--hd-space-05);
}

.hd-sidebar__container::-webkit-scrollbar-track {
    background-color: transparent;
}

.hd-sidebar__container::-webkit-scrollbar-thumb {
    background-color: var(--hd-color-surface-primary-weak);
    border-radius: 999px; /* stylelint-disable-line unit-allowed-list */
    visibility: hidden;
}

.hd-sidebar__container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* Sub Nav */
.hd-sidebar-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.hd-sidebar-trigger__icon {
    stroke: var(--hd-color-neutral-icon);
    rotate: 180deg;
}

.hd-sidebar-list__details[open] .hd-sidebar-trigger__icon {
    rotate: 0deg;
}
