.hop-SelectValue {
    --hop-SelectValue-display: inline-block;
    --hop-SelectValue-slots-display: flex;
    --hop-SelectValue-column-gap: var(--hop-space-inline-sm);

    /* Internal Variables */
    --display: var(--hop-SelectValue-display);

    overflow: hidden;
    display: var(--display);
    flex: 1 1 auto;
    column-gap: var(--hop-SelectValue-column-gap);
    align-items: center;

    box-sizing: border-box;
    min-inline-size: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.hop-SelectValue:has(.hop-SelectValue__text) {
    --display: var(--hop-SelectValue-slots-display);
}

.hop-SelectValue__avatar {
    order: 1;
}

.hop-SelectValue__icon {
    order: 2;
}

.hop-SelectValue__text {
    overflow: hidden;
    flex: 1 1 auto;
    order: 3;

    min-inline-size: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.hop-SelectValue__end-icon {
    order: 4;
}