.hd-heading-link {
    position: relative;
    display: inline;
    padding-left: 2ch;
    margin-left: -2ch;
}

.hd-heading-link::before {
    content: "#";
    position: absolute;
    left: 0;
    font-size: 1em;
    line-height: inherit;
    color: var(--hd-color-neutral-text-weak);
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.hd-heading-link:hover::before,
.hd-heading-link:focus::before {
    opacity: 1;
}
