.hop-DisclosureHeader  {
    --hop-DisclosureHeader-padding: var(--hop-space-inset-md);
    --hop-DisclosureHeader-prefix-margin-inline-end: var(--hop-space-inline-md);
    --hop-DisclosureHeader-content-column-gap: var(--hop-space-inline-sm);
    --hop-DisclosureHeader-content-row-gap: 0;
    --hop-DisclosureHeader-toggle-arrow-margin-inline-start: var(--hop-space-inline-md);

    /* Default */
    --hop-DisclosureHeader-background-color: var(--hop-neutral-surface);
    --hop-DisclosureHeader-color: var(--hop-neutral-text);
    --hop-DisclosureHeader-prefix-color: var(--hop-neutral-icon);
    --hop-DisclosureHeader-description-color: var(--hop-neutral-text-weak);
    --hop-DisclosureHeader-separator-size: 0;
    --hop-DisclosureHeader-separator-color: var(--hop-neutral-border-weak);
    --hop-DisclosureHeader-standalone-border-size:  var(--hop-space-10);
    --hop-DisclosureHeader-standalone-border-color: transparent;
    --hop-DisclosureHeader-standalone-border-radius: var(--hop-shape-rounded-md);

    /* Expanded */
    --hop-DisclosureHeader-separator-size-expanded: var(--hop-space-10);
    --hop-DisclosureHeader-background-color-expanded: var(--hop-neutral-surface);
    --hop-DisclosureHeader-color-expanded: var(--hop-neutral-text);
    --hop-DisclosureHeader-prefix-color-expanded: var(--hop-neutral-icon);
    --hop-DisclosureHeader-standalone-border-radius-expanded: var(--hop-shape-rounded-md) var(--hop-shape-rounded-md) 0 0;

    /* Hovered */
    --hop-DisclosureHeader-background-color-hovered: var(--hop-neutral-surface-hover);
    --hop-DisclosureHeader-color-hovered: var(--hop-neutral-text-hover);
    --hop-DisclosureHeader-prefix-color-hovered: var(--hop-neutral-icon-hover);
    --hop-DisclosureHeader-standalone-border-color-hovered: var(--hop-neutral-border-hover);

    /* Pressed */
    --hop-DisclosureHeader-background-color-pressed: var(--hop-neutral-surface-press);
    --hop-DisclosureHeader-color-pressed: var(--hop-neutral-text-press);
    --hop-DisclosureHeader-prefix-color-pressed: var(--hop-neutral-icon-press);
    --hop-DisclosureHeader-standalone-border-color-pressed: var(--hop-neutral-border-press);

    /* Focused */
    --hop-DisclosureHeader-background-color-focused: var(--hop-neutral-surface-hover);
    --hop-DisclosureHeader-color-focused: var(--hop-neutral-text-hover);
    --hop-DisclosureHeader-prefix-color-focused: var(--hop-neutral-icon-hover);
    --hop-DisclosureHeader-standalone-border-size-focused:  var(--hop-space-20);
    --hop-DisclosureHeader-standalone-border-color-focused: var(--hop-primary-border-focus);

    /* Disabled */
    --hop-DisclosureHeader-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-DisclosureHeader-color-disabled: var(--hop-neutral-text-disabled);
    --hop-DisclosureHeader-prefix-color-disabled: var(--hop-neutral-icon-disabled);
    --hop-DisclosureHeader-description-color-disabled: var(--hop-neutral-text-disabled);
    --hop-DisclosureHeader-separator-color-disabled: var(--hop-neutral-border-disabled);
    --hop-DisclosureHeader-standalone-border-color-disabled: var(--hop-neutral-border-disabled);

    /* Internal Variables */
    --background-color: var(--hop-DisclosureHeader-background-color);
    --separator-size: var(--hop-DisclosureHeader-separator-size);
    --separator-color: var(--hop-DisclosureHeader-separator-color);
    --color: var(--hop-DisclosureHeader-color);
    --cursor: pointer;
    --prefix-color: var(--hop-DisclosureHeader-prefix-color);
    --description-color: var(--hop-DisclosureHeader-description-color);
    --standalone-border-size: var(--hop-DisclosureHeader-standalone-border-size);
    --standalone-border-color: var(--hop-DisclosureHeader-standalone-border-color);
    --standalone-border-radius: var(--hop-DisclosureHeader-standalone-border-radius);
    --transition: var(--hop-easing-duration-2) var(--hop-easing-productive);
    
    display: flex;
    box-sizing: border-box;
}

.hop-DisclosureHeader__button {
    cursor: var(--cursor);

    position: relative;

    display: grid;
    grid-template-areas: "prefix content toggle-arrow";
    grid-template-columns: auto 1fr auto;
    flex: 1 1 auto;
    align-items: center;
    justify-content: start;

    box-sizing: border-box;
    padding: var(--hop-DisclosureHeader-padding);

    font: inherit;
    line-height: inherit;
    color: var(--color);
    text-align: start;

    background-color: var(--background-color);
    border: none;
    border-block-end: var(--separator-size) solid var(--separator-color);
    outline: none;

    transition: color var(--transition), background-color var(--transition), border var(--transition);
}

.hop-DisclosureHeader__button--standalone::before {
    content: "";

    position: absolute;
    inset: 0;
    
    border: var(--standalone-border-size) solid var(--standalone-border-color);
    border-radius: var(--standalone-border-radius);
}

.hop-DisclosureHeader__button--standalone[data-expanded]::before {
    border-radius: var(--standalone-border-radius);
}

.hop-DisclosureHeader__button[data-expanded] {
    --separator-size: var(--hop-DisclosureHeader-separator-size-expanded);
    --background-color: var(--hop-DisclosureHeader-background-color-expanded);
    --color: var(--hop-DisclosureHeader-color-expanded);
    --prefix-color: var(--hop-DisclosureHeader-prefix-color-expanded);
    --standalone-border-radius: var(--hop-DisclosureHeader-standalone-border-radius-expanded);
}

.hop-DisclosureHeader__button[data-hovered] {
    --background-color: var(--hop-DisclosureHeader-background-color-hovered);
    --color: var(--hop-DisclosureHeader-color-hovered);
    --prefix-color: var(--hop-DisclosureHeader-prefix-color-hovered);
    --standalone-border-color: var(--hop-DisclosureHeader-standalone-border-color-hovered);
}

.hop-DisclosureHeader__button[data-pressed] {
    --background-color: var(--hop-DisclosureHeader-background-color-pressed);
    --color: var(--hop-DisclosureHeader-color-pressed);
    --prefix-color: var(--hop-DisclosureHeader-prefix-color-pressed);
    --standalone-border-color: var(--hop-DisclosureHeader-standalone-border-color-pressed);
}

.hop-DisclosureHeader__button[data-focus-visible] {
    --background-color: var(--hop-DisclosureHeader-background-color-focused);
    --color: var(--hop-DisclosureHeader-color-focused);
    --prefix-color: var(--hop-DisclosureHeader-prefix-color-focused);
    --standalone-border-size: var(--hop-DisclosureHeader-standalone-border-size-focused);
    --standalone-border-color: var(--hop-DisclosureHeader-standalone-border-color-focused);
}

.hop-DisclosureHeader__button[data-disabled] {
    --background-color: var(--hop-DisclosureHeader-background-color-disabled);
    --color: var(--hop-DisclosureHeader-color-disabled);
    --cursor: not-allowed;
    --prefix-color: var(--hop-DisclosureHeader-prefix-color-disabled);
    --description-color: var(--hop-DisclosureHeader-description-color-disabled);
    --separator-color: var(--hop-DisclosureHeader-separator-color-disabled);
    --standalone-border-color: var(--hop-DisclosureHeader-standalone-border-color-disabled);
}

.hop-DisclosureHeader__prefix {
    grid-area: prefix;
    box-sizing: border-box;
    margin-inline-end: var(--hop-DisclosureHeader-prefix-margin-inline-end);
    color: var(--prefix-color);
}

.hop-DisclosureHeader__content {
    display: flex;
    grid-area: content;
    flex-wrap: wrap;
    gap: var(--hop-DisclosureHeader-content-row-gap) var(--hop-DisclosureHeader-content-column-gap);
    align-items: baseline;

    box-sizing: border-box;
}

.hop-DisclosureHeader__title {
    flex: 0 1 auto;
}

.hop-DisclosureHeader__description {
    flex: 0 1 auto;
    color: var(--description-color);
}

.hop-DisclosureHeader__toggle-arrow {
    grid-area: toggle-arrow;
    margin-inline-start: var(--hop-DisclosureHeader-toggle-arrow-margin-inline-start);
}
