:where(.hop-Icon) {
    --hop-Icon-placeholder-primary-icon: var(--hop-primary-icon);
    --hop-Icon-placeholder-warning-icon-weak: var(--hop-warning-icon-weak);

    display: inline-block;
    flex-shrink: 0;
    color: inherit;
    fill: currentcolor;
}
