.hop-RichIcon {
    /* These tokens needs to match the ones defined in the generateComponents script */
    --surface-color: var(--hop-decorative-option7-surface);
    --icon-color: var(--hop-decorative-option7-icon);
    --icon-strong-color: var(--hop-samoyed);

    pointer-events: none;
    display: inline-block;
    flex-shrink: 0;
}

.hop-RichIcon--decorative-option1 {
    --surface-color: var(--hop-decorative-option1-surface);
    --icon-color: var(--hop-decorative-option1-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option2 {
    --surface-color: var(--hop-decorative-option2-surface);
    --icon-color: var(--hop-decorative-option2-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option3 {
    --surface-color: var(--hop-decorative-option3-surface);
    --icon-color: var(--hop-decorative-option3-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option4 {
    --surface-color: var(--hop-decorative-option4-surface);
    --icon-color: var(--hop-decorative-option4-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option5 {
    --surface-color: var(--hop-decorative-option5-surface);
    --icon-color: var(--hop-decorative-option5-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option6 {
    --surface-color: var(--hop-decorative-option6-surface);
    --icon-color: var(--hop-decorative-option6-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option7 {
    --surface-color: var(--hop-decorative-option7-surface);
    --icon-color: var(--hop-decorative-option7-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option8 {
    --surface-color: var(--hop-decorative-option8-surface);
    --icon-color: var(--hop-decorative-option8-icon);
    --icon-strong-color: var(--hop-samoyed);
}

.hop-RichIcon--decorative-option9 {
    --surface-color: var(--hop-decorative-option9-surface);
    --icon-color: var(--hop-decorative-option9-icon);
    --icon-strong-color: var(--hop-samoyed);
}
