.hop-RichIcon {
    /* These tokens needs to match the ones defined in the generateComponents script */
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option7-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option7-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);

    display: inline-block;
    flex-shrink: 0;
}

.hop-RichIcon--option1 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option1-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option1-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--option2 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option2-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option2-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--option3 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option3-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option3-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--option4 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option4-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option4-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--option5 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option5-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option5-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--option6 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option6-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option6-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--option7 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option7-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option7-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--option8 {
    --hop-RichIcon-placeholder-background: var(--hop-decorative-option8-surface);
    --hop-RichIcon-placeholder-shadow: var(--hop-decorative-option8-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--success {
    --hop-RichIcon-placeholder-background: var(--hop-success-icon-weakest);
    --hop-RichIcon-placeholder-shadow: var(--hop-success-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--warning {
    --hop-RichIcon-placeholder-background: var(--hop-warning-icon-weakest);
    --hop-RichIcon-placeholder-shadow: var(--hop-warning-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--danger {
    --hop-RichIcon-placeholder-background: var(--hop-danger-surface-weak);
    --hop-RichIcon-placeholder-shadow: var(--hop-danger-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--information {
    --hop-RichIcon-placeholder-background: var(--hop-information-icon-weakest);
    --hop-RichIcon-placeholder-shadow: var(--hop-information-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}

.hop-RichIcon--upsell {
    --hop-RichIcon-placeholder-background: var(--hop-upsell-icon-weakest);
    --hop-RichIcon-placeholder-shadow: var(--hop-upsell-icon);
    --hop-RichIcon-placeholder-fill: var(--hop-samoyed);
}
