:root {
    --hd-header-font-family: var(--hd-default-font-family);
    --hd-header-background-color: var(--hd-color-surface-primary);
    --hd-header-border-color: var(--hd-color-border-primary-weak);
}

.hd-header {
    display: flex;
    align-items: center;
    font-family: var(--hd-header-font-family);
    height: var(--hd-space-8);
    background-color: var(--hd-header-background-color);
    border-block-end: 1px solid var(--hd-header-border-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.hd-header__nav {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    gap: var(--hd-space-6);
}

.hd-brand {
    display: flex;
}

.hd-header__quick-actions {
    display: flex;
    gap: var(--hd-space-1);
}
