.hop-ComboBox {
    /* Default */
    --hop-ComboBox-row-gap: var(--hop-space-stack-xs);
    --hop-ComboBox-inline-size: 20rem;
    --hop-ComboBox-inline-size-fluid: 100%;
    --hop-ComboBox-max-inline-size: 100%;

    /* Prefix */
    --hop-ComboBox-prefix-color: var(--hop-neutral-text-weak);

    /* Button */
    --hop-ComboBox-button-color-disabled: var(--hop-neutral-icon-disabled);

    /* Internal Variables */
    --inline-size: var(--hop-ComboBox-inline-size);

    display: flex;
    flex-direction: column;
    row-gap: var(--hop-ComboBox-row-gap);

    box-sizing: border-box;
    inline-size: var(--inline-size);
    max-inline-size: var(--hop-ComboBox-max-inline-size);
}

.hop-ComboBox--fluid  {
    --inline-size: var(--hop-ComboBox-inline-size-fluid);
}

.hop-ComboBox__label {
    order: 1;
}

.hop-ComboBox__trigger {
    cursor: text;
    order: 2;
}

.hop-ComboBox__trigger[data-disabled] {
    cursor: default;
}

/* ComboBox Button */
.hop-ComboBox__button {
    cursor: pointer;

    display: flex;
    flex: 0 0 auto;
    align-items: center;

    padding-inline: 0;

    color: inherit;

    background-color: transparent;
    border: none;
    outline: none;
}

.hop-ComboBox__button[data-disabled] {
    cursor: default;
    color: var(--hop-ComboBox-button-color-disabled);
}

.hop-ComboBox__prefix {
    align-self: center;
    color: var(--hop-ComboBox-prefix-color);
}

.hop-ComboBox__helper-message,
.hop-ComboBox__error-message {
    order: 3;
}
