/* PSEUDO | OPACITY */
.hop-o-hover:hover {
    --hop-o-hover: initial;

    opacity: var(--hop-o-hover) !important;
}

.hop-o-focus:focus-visible {
    --hop-o-focus: initial;

    opacity: var(--hop-o-focus) !important;
}

.hop-o-active:active {
    --hop-o-active: initial;

    opacity: var(--hop-o-active) !important;
}
