.hd-component-wrapper {
    position: relative;
}

[data-theme="light"] .hd-component-wrapper--light .hd-component-wrapper__action:hover,
[data-theme="light"] .hd-component-wrapper--dark .hd-component-wrapper__action:hover {
    --hd-color-neutral-icon: var(--hd-neutral-900);
}

[data-theme="dark"] .hd-component-wrapper--light .hd-component-wrapper__action:hover {
    --hd-color-neutral-icon: var(--hd-neutral-0);
}

.hd-component-wrapper--light .hd-component-wrapper__action {
    --hd-color-neutral-icon: var(--hd-neutral-900);
}

.hd-component-wrapper--dark .hd-component-wrapper__action {
    --hd-color-neutral-icon: var(--hd-neutral-0);
}

[data-theme="dark"] .hd-component-wrapper--light .hd-preview-component__content,
.hd-component-wrapper--light .hd-preview-component__content {
    --background: var(--hd-white);
    --color: var(--hd-neutral-50);
}

.hd-component-wrapper--dark .hd-preview-component__content {
    --background: var(--hd-neutral-900);
    --color: var(--hd-neutral-800);
}

.hd-component-wrapper__action {
    position: absolute;
    inset: 1rem 1rem auto auto;
    z-index: 100;
}
