.hd-preview-component {
    margin-block: var(--hd-space-4) var(--hd-space-5);
}

.hd-preview-component__content {
    position: relative;
    min-height: 12.5rem;
    max-height: 20rem;
}

.hd-preview-component--skeleton {
    height: 12.5rem;
    border-radius: var(--hd-space-2);
    border: var(--hd-border-size) solid var(--hd-color-neutral-border);
    animation: skeleton-loading 0.5s linear infinite alternate;
}

.hd-preview-component--skeleton-overlay {
    position: absolute;
    inset: -0.125rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--hd-neutral-20);
    }

    100% {
        background-color: var(--hd-neutral-50);
    }
}
