@font-face {
    font-family: "ABC Favorit";
    font-style: normal;
    font-weight: 100 900;
    src: url("https://cdn.platform.workleap-dev.com/hopper/fonts/ABCFavoritVariable.woff2") format("woff2");
    font-display: fallback;
}

[data-font="cdn"] h1,
[data-font="cdn"] h2,
[data-font="cdn"] h3,
[data-font="cdn"] h4,
[data-font="cdn"] h5,
[data-font="cdn"] h6,
[data-font="cdn"] p {
    font-family: "ABC Favorit", sans-serif;
    font-weight: 410;
    font-style: normal;
    color: var(--hd-color-neutral-text);
    line-height: 1.5;
}
