@font-face {
    font-family: "ABC Favorit";
    font-style: normal;
    font-weight: 410;
    src: url("https://cdn.platform.workleap-dev.com/hopper/fonts/ABCFavorit-Regular.otf") format("opentype");
    font-display: fallback;
}

[data-font="cdn"] {
    font-family: "ABC Favorit", sans-serif;
    font-weight: 410;
    font-style: normal;
    color: #1c1b1b;
    line-height: 1.5;
}

