@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	src: url("https://cdn.platform.workleap.com/hopper/fonts/inter/v4/InterVariable.woff2") format("woff2-variations");
	font-display: fallback;
}

@font-face {
	font-family: "ABC Favorit Mono";
	font-style: normal;
	font-weight: 400;
	src: url("https://cdn.platform.workleap.com/hopper/fonts/abc-favorit/mono/alternative/ABCFavoritMono-Regular.woff2") format("woff2-variations");
	font-display: fallback;
}

@font-face {
	font-family: "ABC Favorit";
	font-style: normal;
	font-weight: 100 900;
	src: url("https://cdn.platform.workleap.com/hopper/fonts/abc-favorit/alternative/ABCFavoritVariable.woff2") format("woff2-variations");
	font-display: fallback;
}

/* Font Applications */
[data-font="cdn"] div.favorit * {
    font-family: "ABC Favorit", sans-serif;
    font-weight: 410;
    font-style: normal;
    color: var(--hd-color-neutral-text);
    line-height: 1.5;
}

[data-font="cdn"] div.favorit-mono * {
    font-family: "ABC Favorit Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--hd-color-neutral-text);
    line-height: 1.5;
}

[data-font="cdn"] div.inter * {
    font-family: Inter, sans-serif;
    font-weight: 410;
    font-style: normal;
    color: var(--hd-color-neutral-text);
    line-height: 1.5;
}

/* Samples wrapper */
.font-sample {
    margin-bottom: 4rem;
    padding-top: 1.5rem;
    border-top: 0.0625rem solid;
}

.font-sample .number {
    font-size: 1.5rem;
}

.button-sample {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem
}

/* Button Styles */
button.centering-text {
    border: none;
    display: flex;
    background-color: #C9C5B5;
    height: 2.5rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    align-items: center;
}

button.centering-text.lg {
    height: 3rem;
}

button.centering-text.xl {
    height: 4rem;
}

button.centering-text.two-xl {
    height: 5rem;
}

button.centering-text.three-xl {
    height: 6rem;
}

button.offset {
    font-size: 0.75rem;
    line-height: 1.3333;
    font-weight: 400;
    font-family: "ABC Favorit Mono", monospace;
    background-color: rgba(100 100 100 / 40%);
}

button.overline {
    letter-spacing: 0.015rem;
    text-transform: uppercase;
}

.overline {
    font-size: 0.75rem;
    line-height: 1.3333!important;
}

.offset::before,
.offset::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
}

/* Favorite Mono Overline  */
.favorit-mono .offset::before {
    margin-bottom: -0.125rem;
}

.favorit-mono .offset::after {
    margin-top: -0.25rem;
}

/* Favorite */

/* XS */
.favorit .xs .offset,
.favorit .xs.offset {
    font-size: 1rem;
    line-height: 1.5;
}

.favorit .xs .offset::before,
.favorit .xs.offset::before {
    margin-bottom: -0.25rem;
}

.favorit .xs .offset::after,
.favorit .xs.offset::after {
    margin-top: -0.4166rem;
}

/* SM */
.favorit .sm .offset,
.favorit .sm.offset {
    font-size: 1.125rem;
    line-height: 1.3333;
    font-weight: 580;
}

.favorit .sm .offset::before,
.favorit .sm.offset::before {
    margin-bottom: -0.1875rem;
}

.favorit .sm .offset::after,
.favorit .sm.offset::after {
    margin-top: -0.375rem;
}

/* MD */
.favorit .md .offset,
.favorit .md.offset {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 580
}

.favorit .md .offset::before,
.favorit .md.offset::before {
    margin-bottom: -0.125rem;
}

.favorit .md .offset::after,
.favorit .md.offset::after {
    margin-top: -0.3333rem;
}

/* LG */
.favorit .lg .offset,
.favorit .lg.offset {
    font-size: 1.5rem;
    line-height: 1.3333;
    font-weight: 680
}

.favorit .lg .offset::before,
.favorit .lg.offset::before {
    margin-bottom: -0.3125rem;
}

.favorit .lg .offset::after,
.favorit .lg.offset::after {
    margin-top: -0.5625rem;
}

/* XL */
.favorit .xl .offset,
.favorit .xl.offset {
    font-size: 1.75rem;
    line-height: 1.14;
    font-weight: 680;
}

.favorit .xl .offset::before,
.favorit .xl.offset::before {
    margin-bottom: -0.1875rem;
}

.favorit .xl .offset::after,
.favorit .xl.offset::after {
    margin-top: -0.5rem;
}

/* 2XL */
.favorit .two-xl .offset,
.favorit .two-xl.offset {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 580;
}

.favorit .two-xl .offset::before,
.favorit .two-xl.offset::before {
    margin-bottom: -0.3334rem;
}

.favorit .two-xl .offset::after,
.favorit .two-xl.offset::after {
    margin-top: -0.6667rem;
}

/* 3XL */
.favorit .three-xl .offset,
.favorit .three-xl.offset {
    font-size: 2.5rem;
    line-height: 1.3333;
    font-weight: 680;
}

.favorit .three-xl .offset::before,
.favorit .three-xl.offset::before {
    margin-bottom: -0.5625rem;
}

.favorit .three-xl .offset::after,
.favorit .three-xl.offset::after {
    margin-top: -0.9375rem;
}

/* Free Text Tests */
.free-text-sample {
    max-width: 20ch;
    box-shadow: inset 0 0 0 1rem rgba(199 222 184 / 80%);
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Button Sample */
.tag {
    border: var(--hd-border-size) solid #C9C5B5;
    font-weight: 505;
    width: auto;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    position: relative;
}

.flex {
    display: flex;
    gap: 1rem;
}
