.hd-card {
    --background: var(--hd-white);
    --dot-background: var(--hd-neutral-50);
    --color: var(--hd-color-neutral-text);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--hd-space-2);
    border: var(--hd-border-size) solid var(--hd-color-neutral-border);
    padding: var(--hd-space-4);
    background: linear-gradient(90deg, var(--background) 0.625rem, transparent 1%) 50%,
    linear-gradient(var(--background) 0.625rem, transparent 1%) 50%,
    var(--dot-background);
    background-size: 0.75rem 0.75rem;
    color: var(--color);
}

.hd-card--sm {
    padding: var(--hd-space-2);
}

.hd-card--lg {
    padding: var(--hd-space-6);
}

.hd-card--end {
    justify-content: flex-end;
}

.hd-card--start {
    justify-content: flex-start;
}

.hd-card + p {
    margin-top: var(--hd-space-4);
}

[data-theme="dark"] .hd-card {
    --background: var(--hd-neutral-900);
    --dot-background: var(--hd-neutral-800);
}

