.hd-copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: var(--hd-space-1);
    cursor: pointer;
}

.hd-copy-button[disabled]:hover {
    cursor: not-allowed;
}
