.hd-copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    stroke: var(--hd-icon-button-color);
    width: var(--hd-space-4);
    aspect-ratio: 1/1;
    border-radius: var(--hd-space-1);
    cursor: pointer;
}

.hd-copy-button[disabled] {
    cursor: not-allowed;
}

.hd-copy-button:not([disabled]):hover {
    background-color: var(--hd-color-neutral-surface-weak);
}

.hd-copy-button--small {
    border-radius: var(--hd-space-05);
    width: var(--hd-space-3);
}

.hd-copy-button--inlined {
    background: var(--hd-color-neutral-surface);
}
