.hd-copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    fill: var(--hd-primary-300);
    width: var(--hd-space-4);
    aspect-ratio: 1/1;
    border-radius: var(--hd-space-1);
    cursor: pointer;
}

.hd-copy-button[disabled] {
    cursor: not-allowed;
}

.hd-copy-button:not([disabled]):hover {
    background-color: var(--hd-color-surface-primary-weak-hover);
}
