.hop-button {
    --hop-button-component-padding: 0 var(--hop-space-inset-md);
    --hop-button-component-border-radius: var(--hop-shape-rounded-md);
    --hop-button-component-focus-ring-color: var(--hop-primary-surface-hover); /* TODO: place to centralize tokens like this? */
    --hop-button-component-md-height: 2.5rem;
    --hop-button-component-sm-height: 2rem;

    /* Primary */
    --hop-button-component-primary-color: var(--hop-primary-text-strong);
    --hop-button-component-primary-color-hover: var(--hop-primary-text-strong-hover);
    --hop-button-component-primary-color-pressed: var(--hop-primary-text-active);
    --hop-button-component-primary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-button-component-primary-background-color: var(--hop-primary-surface-strong);
    --hop-button-component-primary-background-color-hover: var(--hop-primary-surface-hover);
    --hop-button-component-primary-background-color-pressed: var(--hop-primary-surface-active);
    --hop-button-component-primary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-button-component-primary-border: 0;
    --hop-button-component-primary-border-hover: 0;
    --hop-button-component-primary-border-pressed: 0;
    --hop-button-component-primary-border-disabled: 0;

    /* Secondary */
    --hop-button-component-secondary-color: var(--hop-neutral-text);
    --hop-button-component-secondary-color-hover: var(--hop-neutral-text-hover);
    --hop-button-component-secondary-color-pressed: var(--hop-neutral-text-active);
    --hop-button-component-secondary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-button-component-secondary-background-color: var(--hop-neutral-surface);
    --hop-button-component-secondary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-button-component-secondary-background-color-pressed: var(--hop-neutral-surface-active);
    --hop-button-component-secondary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-button-component-secondary-border: 0.0625rem solid var(--hop-neutral-border-strong);
    --hop-button-component-secondary-border-hover: 0.0625rem solid var(--hop-neutral-border-strong);
    --hop-button-component-secondary-border-pressed: 0.0625rem solid var(--hop-neutral-border-active);
    --hop-button-component-secondary-border-disabled: 0;

    /* Tertiary */
    --hop-button-component-tertiary-color: var(--hop-neutral-text);
    --hop-button-component-tertiary-color-hover: var(--hop-neutral-text-hover);
    --hop-button-component-tertiary-color-pressed: var(--hop-neutral-text);
    --hop-button-component-tertiary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-button-component-tertiary-background-color: var(--hop-neutral-surface);
    --hop-button-component-tertiary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-button-component-tertiary-background-color-pressed: var(--hop-neutral-surface-weak-active);
    --hop-button-component-tertiary-background-color-disabled: var(--hop-neutral-surface);
    --hop-button-component-tertiary-border: 0;
    --hop-button-component-tertiary-border-hover: 0;
    --hop-button-component-tertiary-border-pressed: 0;
    --hop-button-component-tertiary-border-disabled: 0;

    /* Upsell */
    --hop-button-component-upsell-color: var(--hop-upsell-text);
    --hop-button-component-upsell-color-hover: var(--hop-upsell-text-hover);
    --hop-button-component-upsell-color-pressed: var(--hop-upsell-text-active);
    --hop-button-component-upsell-color-disabled: var(--hop-neutral-text-disabled);
    --hop-button-component-upsell-background-color: var(--hop-upsell-surface);
    --hop-button-component-upsell-background-color-hover: var(--hop-upsell-surface-hover);
    --hop-button-component-upsell-background-color-pressed: var(--hop-upsell-surface-active);
    --hop-button-component-upsell-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-button-component-upsell-border: 0.0625rem solid var(--hop-upsell-surface); /* same color as the background */
    --hop-button-component-upsell-border-hover: 0.0625rem solid var(--hop-upsell-surface-hover); /* same color as the background */
    --hop-button-component-upsell-border-pressed: 0.0625rem solid var(--hop-upsell-border-active);
    --hop-button-component-upsell-border-disabled: 0;

    /* Negative */
    --hop-button-component-negative-color: var(--hop-danger-text-strong);
    --hop-button-component-negative-color-hover: var(--hop-danger-text-strong-hover);
    --hop-button-component-negative-color-pressed: var(--hop-danger-text-active);
    --hop-button-component-negative-color-disabled: var(--hop-neutral-text-disabled);
    --hop-button-component-negative-background-color: var(--hop-danger-surface-strong);
    --hop-button-component-negative-background-color-hover: var(--hop-danger-surface-hover);
    --hop-button-component-negative-background-color-pressed: var(--hop-danger-surface-active);
    --hop-button-component-negative-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-button-component-negative-border: 0.0625rem solid var(--hop-danger-surface-strong); /* same color as the background */
    --hop-button-component-negative-border-hover: 0.0625rem solid var(--hop-danger-surface-hover); /* same color as the background */
    --hop-button-component-negative-border-pressed: 0.0625rem solid var(--hop-danger-border-active);
    --hop-button-component-negative-border-disabled: 0;

    /* Internal variable */
    --inline-size: max-content;
    --block-size: var(--hop-button-component-md-height);
    --background-color: var(--hop-primary-surface-strong);
    --color: var(--hop-primary-text-strong);
    --border: 0;

    /** styles */
    cursor: pointer;
    display: grid;
    grid-template-areas:"start-icon content end-icon";
    grid-template-columns: auto min-content auto;
    column-gap: var(--hop-space-inline-xs);
    box-sizing: border-box;
    position: relative;
    padding: var(--hop-button-component-padding);
    border-radius: var(--hop-button-component-border-radius);
    outline: none;
    outline-offset: 0.125rem;
    transition: color, background-color, border , 0.2s cubic-bezier(0.22, 0.61, 0.36, 1) /* TODO: create transition for components */;
    inline-size: var(--inline-size);
    block-size: var(--block-size);
    background-color: var(--background-color);
    color: var(--color);
    border: var(--border);
    align-items:center

}

.hop-button[data-disabled] {
    cursor: not-allowed;
}

.hop-button[data-focus-visible] {
    outline: 0.125rem solid var(--hop-button-component-focus-ring-color);
}

.hop-button--fluid {
    --inline-size: 100%;
}

.hop-button--sm {
    --block-size: var(--hop-button-component-sm-height);
}

.hop-button--primary {
    --background-color: var(--hop-button-component-primary-background-color);
    --color: var(--hop-button-component-primary-color);
    --border: var(--hop-button-component-primary-border);
}

.hop-button--primary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-button-component-primary-background-color-disabled);
    --color: var(--hop-button-component-primary-color-disabled);
    --border: var(--hop-button-component-primary-border-disabled);
}

.hop-button--primary[data-hovered] {
    --background-color: var(--hop-button-component-primary-background-color-hover);
    --color: var(--hop-button-component-primary-color-hover);
    --border: var(--hop-button-component-primary-border-hover);
}

.hop-button--primary[data-pressed] {
    --background-color: var(--hop-button-component-primary-background-color-pressed);
    --color: var(--hop-button-component-primary-color-pressed);
    --border: var(--hop-button-component-primary-border-pressed);
}

.hop-button--secondary {
    --background-color: var(--hop-button-component-secondary-background-color);
    --color: var(--hop-button-component-secondary-color);
    --border: var(--hop-button-component-secondary-border);
}

.hop-button--secondary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-button-component-secondary-background-color-disabled);
    --color: var(--hop-button-component-secondary-color-disabled);
    --border: var(--hop-button-component-secondary-border-disabled);
}

.hop-button--secondary[data-hovered] {
    --background-color: var(--hop-button-component-secondary-background-color-hover);
    --color: var(--hop-button-component-secondary-color-hover);
    --border: var(--hop-button-component-secondary-border-hover);
}

.hop-button--secondary[data-pressed] {
    --background-color: var(--hop-button-component-secondary-background-color-pressed);
    --color: var(--hop-button-component-secondary-color-pressed);
    --border: var(--hop-button-component-secondary-border-pressed);
}

.hop-button--tertiary {
    --background-color: var(--hop-button-component-tertiary-background-color);
    --color: var(--hop-button-component-tertiary-color);
    --border: var(--hop-button-component-tertiary-border);
}

.hop-button--tertiary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-button-component-tertiary-background-color-disabled);
    --color: var(--hop-button-component-tertiary-color-disabled);
    --border: var(--hop-button-component-tertiary-border-disabled);
}

.hop-button--tertiary[data-hovered] {
    --background-color: var(--hop-button-component-tertiary-background-color-hover);
    --color: var(--hop-button-component-tertiary-color-hover);
    --border: var(--hop-button-component-tertiary-border-hover);
}

.hop-button--tertiary[data-pressed] {
    --background-color: var(--hop-button-component-tertiary-background-color-pressed);
    --color: var(--hop-button-component-tertiary-color-pressed);
    --border: var(--hop-button-component-tertiary-border-pressed);
}

.hop-button--upsell {
    --background-color: var(--hop-button-component-upsell-background-color);
    --color: var(--hop-button-component-upsell-color);
    --border: var(--hop-button-component-upsell-border);
}

.hop-button--upsell[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-button-component-upsell-background-color-disabled);
    --color: var(--hop-button-component-upsell-color-disabled);
    --border: var(--hop-button-component-upsell-border-disabled);
}

.hop-button--upsell[data-hovered] {
    --background-color: var(--hop-button-component-upsell-background-color-hover);
    --color: var(--hop-button-component-upsell-color-hover);
    --border: var(--hop-button-component-upsell-border-hover);
}

.hop-button--upsell[data-pressed] {
    --background-color: var(--hop-button-component-upsell-background-color-pressed);
    --color: var(--hop-button-component-upsell-color-pressed);
    --border: var(--hop-button-component-upsell-border-pressed);
}

.hop-button--negative {
    --background-color: var(--hop-button-component-negative-background-color);
    --color: var(--hop-button-component-negative-color);
    --border: var(--hop-button-component-negative-border);
}

.hop-button--negative[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-button-component-negative-background-color-disabled);
    --color: var(--hop-button-component-negative-color-disabled);
    --border: var(--hop-button-component-negative-border-disabled);
}

.hop-button--negative[data-hovered] {
    --background-color: var(--hop-button-component-negative-background-color-hover);
    --color: var(--hop-button-component-negative-color-hover);
    --border: var(--hop-button-component-negative-border-hover);
}

.hop-button--negative[data-pressed] {
    --background-color: var(--hop-button-component-negative-background-color-pressed);
    --color: var(--hop-button-component-negative-color-pressed);
    --border: var(--hop-button-component-negative-border-pressed);
}

.hop-button__Spinner {
    position: absolute;
    justify-self: center;
    color: var(--color)
}

.hop-button__icon,
.hop-button__icon-list {
    grid-area: start-icon;
    justify-self: end;
}

.hop-button__text {
    grid-area: content;
    font-weight: var(--hop-font-weight-505);
    overflow: visible;
    text-wrap: nowrap;
    user-select: none;
}

.hop-button__end-icon,
.hop-button__end-icon-list {
    grid-area: end-icon;
}

/* Keep element present to:
 - allows screen readers to read the content
 - preserve the button's size
*/
.hop-button[data-loading] > *:not(.hop-button__Spinner) {
    opacity: 0;
}
