@import url("@/app/tokens.css");

.shd-container {
    --stb-container-background: var(--hd-white);
    --stb-container-color: var(--hd-neutral-50);

    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background: var(--stb-container-background);
    background-size: 12px 12px;
}

[data-theme="dark"] {
    --stb-container-background: var(--hd-neutral-800);
    --stb-container-color: var(--hd-neutral-800);
}
