.hd-component-overview {
    display: grid;
    gap: var(--hd-space-2);
    grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
}

.hd-component-overview__item {
    border-radius: var(--hd-space-1);
    height: 20rem;
    position: relative;
}

.hd-component-overview__item-teaser {
    font-size: 1rem;
    line-height: 1.125;
    margin-top: var(--hd-space-1);
}

.hd-component-overview__item-thumb {
    align-items: center;
    border: 0.0625rem solid var(--hd-color-neutral-border);
    border-radius: var(--hd-space-1);
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    margin-bottom: var(--hd-space-1);
    width: 100%;
}

.hd-component-overview__item-img {
    max-width: 19.5rem;
}

.hd-component-overview-category {
    margin-bottom: var(--hd-space-4);
}

.hd-component-overview-category__title {
    text-transform: capitalize;
    margin-bottom: var(--hd-space-2);
}

.hd-component-overview-item__caption {
    height: 40%;
    padding: var(--hd-space-1);
}

.hd-component-overview__item:hover .hd-component-item__overlay-effect,
.hd-component-overview__item:focus-visible .hd-component-item__overlay-effect {
    opacity: 1;
}

.hd-component-item__overlay-effect {
    background-color: rgb(0 0 0 / 6.4%);
    border-radius: var(--hd-space-1);
    height: calc(100% + var(--hd-space-2));
    left: calc(-1 * var(--hd-space-1));
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease;
    top: calc(-1 * var(--hd-space-1));
    width: calc(100% + var(--hd-space-2));
    z-index: -1;
}
