.hop-CheckboxField  {
    /* Default */
    --hop-CheckboxField-description-color: var(--hop-neutral-text-weak); 

    /* Disabled */
    --hop-CheckboxField-description-color-disabled: var(--hop-neutral-text-disabled); 

    /* Small */
    --hop-CheckboxField-row-gap-small: var(--hop-space-stack-xs);
    --hop-CheckboxField-checkbox-inline-size-small: 1rem;
    --hop-CheckboxField-description-margin-inline-start-small: calc(var(--hop-CheckboxField-checkbox-inline-size-small) + var(--hop-space-inline-sm));

    /* Medium */
    --hop-CheckboxField-row-gap-medium: var(--hop-space-stack-sm);
    --hop-CheckboxField-checkbox-inline-size-medium: 1.5rem;
    --hop-CheckboxField-description-margin-inline-start-medium: calc(var(--hop-CheckboxField-checkbox-inline-size-medium) + var(--hop-space-inline-md));

    /* Internal variable */
    --description-color: var(--hop-CheckboxField-description-color);

    align-items: start;
    gap: var(--row-gap, var(--hop-space-stack-sm)) var(--hop-space-inline-xs);
    display: grid;
    grid-template:
    "checkbox" auto
    "description" auto
    / auto;
    inline-size: max-content;
    justify-content: start; 
    max-inline-size: 100%;
}

.hop-CheckboxField,
.hop-CheckboxField * {
    box-sizing: border-box;
}

.hop-CheckboxField[data-disabled] {
    --description-color: var(--hop-CheckboxField-description-color-disabled);
}

.hop-CheckboxField--sm {
    --row-gap: var(--hop-CheckboxField-row-gap-small);
    --description-margin-inline-start: var(--hop-CheckboxField-description-margin-inline-start-small);
}

.hop-CheckboxField--md {
    --row-gap: var(--hop-CheckboxField-row-gap-medium);
    --description-margin-inline-start: var(--hop-CheckboxField-description-margin-inline-start-medium);
}

/* Description */
.hop-CheckboxField__description {
    color: var(--description-color);
    grid-area: description;
    margin-inline-start: var(--description-margin-inline-start, var(--hop-CheckboxField-description-margin-inline-start-medium));
}

.hop-CheckboxField__checkbox {
    grid-area: checkbox;
}
