.hop-Checkbox  {
    /* Default */
    --hop-Checkbox-box-border-size: 0.0625rem;
    --hop-Checkbox-box-border-color: var(--hop-neutral-border);
    --hop-Checkbox-box-background-color: var(--hop-neutral-surface);
    --hop-Checkbox-check-color: var(--hop-neutral-icon-selected);
    --hop-Checkbox-check-display: none;
    --hop-Checkbox-text-color: var(--hop-neutral-text);
    --hop-Checkbox-icon-color: var(--hop-neutral-icon);

    /* Hover */
    --hop-Checkbox-box-border-color-hover: var(--hop-neutral-border-hover);
    --hop-Checkbox-box-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-Checkbox-box-border-color-checked-hover: var(--hop-neutral-border-selected);
    --hop-Checkbox-box-background-color-checked-hover: var(--hop-neutral-surface-selected);
    --hop-Checkbox-text-color-hover: var(--hop-neutral-text-hover);
    --hop-Checkbox-icon-color-hover: var(--hop-neutral-icon);

    /* Pressed */
    --hop-Checkbox-box-border-color-pressed: var(--hop-neutral-border-press);
    --hop-Checkbox-box-background-color-pressed: var(--hop-neutral-surface-press);
    --hop-Checkbox-box-border-color-checked-pressed: var(--hop-neutral-border-selected);
    --hop-Checkbox-box-background-color-checked-pressed: var(--hop-neutral-surface-selected);
    --hop-Checkbox-text-color-pressed: var(--hop-neutral-text-press);
    --hop-Checkbox-icon-color-pressed: var(--hop-neutral-icon-press);

    /* Checked */
    --hop-Checkbox-box-border-color-checked: var(--hop-neutral-border-selected);
    --hop-Checkbox-box-background-color-checked: var(--hop-neutral-surface-selected);
    --hop-Checkbox-check-display-checked: block;
    --hop-Checkbox-text-color-checked: var(--hop-neutral-text);
    --hop-Checkbox-icon-color-checked: var(--hop-neutral-icon);

    /* Disabled */
    --hop-Checkbox-box-border-color-disabled: var(--hop-neutral-border-disabled);
    --hop-Checkbox-box-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Checkbox-box-border-color-checked-disabled: var(--hop-neutral-border-disabled);
    --hop-Checkbox-box-background-color-checked-disabled: var(--hop-neutral-surface-disabled);
    --hop-Checkbox-check-color-disabled: var(--hop-neutral-icon-disabled);
    --hop-Checkbox-text-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Checkbox-icon-color-disabled: var(--hop-neutral-icon-disabled);

    /* Focus */
    --hop-Checkbox-box-border-color-focus: var(--hop-neutral-border-hover);
    --hop-Checkbox-box-background-color-focus: var(--hop-neutral-surface-hover);
    --hop-Checkbox-box-focus-ring-color: var(--hop-primary-border-focus);
    --hop-Checkbox-box-border-color-checked-focus: var(--hop-neutral-border-selected);
    --hop-Checkbox-box-background-color-checked-focus: var(--hop-neutral-surface-selected);
    --hop-Checkbox-text-color-focus: var(--hop-neutral-text);
    --hop-Checkbox-icon-color-focus: var(--hop-neutral-icon);

    /* Invalid  */
    --hop-Checkbox-box-border-color-invalid: var(--hop-danger-border-strong);
    --hop-Checkbox-box-background-color-invalid: var(--hop-neutral-surface);
    --hop-Checkbox-box-border-color-hover-invalid: var(--hop-danger-border-strong);
    --hop-Checkbox-box-background-color-hover-invalid: var(--hop-danger-surface-weak-hover);
    --hop-Checkbox-box-border-color-pressed-invalid: var(--hop-danger-border-press);
    --hop-Checkbox-box-background-color-pressed-invalid: var(--hop-danger-surface-weak-press);
    --hop-Checkbox-box-border-color-focus-invalid: var(--hop-danger-border-press);
    --hop-Checkbox-box-background-color-focus-invalid: var(--hop-danger-surface);
    --hop-Checkbox-box-border-color-checked-invalid: var(--hop-danger-border-strong);
    --hop-Checkbox-box-background-color-checked-invalid: var(--hop-danger-surface-strong);
    --hop-Checkbox-check-color-invalid: var(--hop-danger-icon-strong);
    --hop-Checkbox-text-color-invalid: var(--hop-danger-text-weak);
    --hop-Checkbox-text-color-hover-invalid: var(--hop-danger-text-weak-hover);
    --hop-Checkbox-text-color-pressed-invalid: var(--hop-danger-text-weak-press);
    --hop-Checkbox-icon-color-invalid: var(--hop-danger-icon-weak);
    --hop-Checkbox-icon-color-hover-invalid: var(--hop-danger-icon-weak-hover);
    --hop-Checkbox-icon-color-pressed-invalid: var(--hop-danger-icon-weak-press);

    /* Small */
    --hop-Checkbox-box-sm-inline-size: 1rem;
    --hop-Checkbox-text-sm-top-offset: calc((var(--box-inline-size) - (var(--hop-body-sm-line-height) * var(--hop-body-sm-font-size))) / 2);
    --hop-Checkbox-text-sm-margin-inline-start: calc(var(--hop-space-inline-sm) - var(--hop-space-inline-xs));

    /* Medium */
    --hop-Checkbox-box-md-inline-size: 1.5rem;
    --hop-Checkbox-text-md-top-offset: calc((var(--box-inline-size) - (var(--hop-body-md-line-height) * var(--hop-body-md-font-size))) / 2);
    --hop-Checkbox-text-md-margin-inline-start: calc(var(--hop-space-inline-md) - var(--hop-space-inline-xs));

    /* Internal variable */
    --box-background-color: var(--hop-Checkbox-box-background-color);
    --box-border-color: var(--hop-Checkbox-box-border-color);
    --box-border-radius: var(--hop-shape-rounded-sm);
    --check-color: var(--hop-Checkbox-check-color);
    --check-display: var(--hop-Checkbox-check-display);
    --cursor: pointer;
    --text-color: var(--hop-Checkbox-text-color);
    --icon-color: var(--hop-Checkbox-icon-color);
    --description-color: var(--hop-Checkbox-description-color);
    --transition-duration: var(--hop-easing-duration-2);

    cursor: var(--cursor);

    display: flex;
    column-gap: var(--hop-space-inline-xs);
    align-items: start;
    justify-content: start;

    box-sizing: border-box;
    inline-size: max-content;
    max-inline-size: 100%;
}

.hop-Checkbox[data-hovered] {
    --box-background-color: var(--hop-Checkbox-box-background-color-hover);
    --box-border-color: var(--hop-Checkbox-box-border-color-hover);
    --text-color: var(--hop-Checkbox-text-color-hover);
    --icon-color: var(--hop-Checkbox-icon-color-hover);
    --description-color: var(--hop-Checkbox-description-color-hover);
}

.hop-Checkbox[data-pressed],
.hop-Checkbox[data-pressed][data-hovered],
.hop-Checkbox[data-pressed][data-focus-visible] {
    --box-background-color: var(--hop-Checkbox-box-background-color-pressed);
    --box-border-color: var(--hop-Checkbox-box-border-color-pressed);
    --text-color: var(--hop-Checkbox-text-color-pressed);
    --icon-color: var(--hop-Checkbox-icon-color-pressed);
}

.hop-Checkbox[data-selected],
.hop-Checkbox[data-selected][data-pressed] {
    --box-background-color: var(--hop-Checkbox-box-background-color-checked-hover);
    --box-border-color: var(--hop-Checkbox-box-border-color-checked-hover);
    --check-display: var(--hop-Checkbox-check-display-checked);
    --text-color: var(--hop-Checkbox-text-color-checked);
    --icon-color: var(--hop-Checkbox-icon-color-checked);
    --description-color: var(--hop-Checkbox-description-color-checked);
}

.hop-Checkbox[data-focus-visible] {
    --box-background-color: var(--hop-Checkbox-box-background-color-focus);
    --box-border-color: var(--hop-Checkbox-box-border-color-focus);
    --box-outline: 0.125rem solid var(--hop-Checkbox-box-focus-ring-color);
    --text-color: var(--hop-Checkbox-text-color-focus);
    --icon-color: var(--hop-Checkbox-icon-color-focus);
    --description-color: var(--hop-Checkbox-description-color-focus);
}

.hop-Checkbox[data-focus-visible][data-selected] {
    --box-background-color: var(--hop-Checkbox-box-background-color-checked-focus);
    --box-border-color: var(--hop-Checkbox-box-border-color-checked-focus);
}

.hop-Checkbox[data-invalid] {
    --box-background-color: var(--hop-Checkbox-box-background-color-invalid);
    --box-border-color: var(--hop-Checkbox-box-border-color-invalid);
    --check-color: var(--hop-Checkbox-check-color-invalid);
    --text-color: var(--hop-Checkbox-text-color-invalid);
    --icon-color: var(--hop-Checkbox-icon-color-invalid);
    --description-color: var(--hop-Checkbox-description-color-invalid);
}

.hop-Checkbox[data-invalid][data-hovered] {
    --box-background-color: var(--hop-Checkbox-box-background-color-hover-invalid);
    --box-border-color: var(--hop-Checkbox-box-border-color-hover-invalid);
    --text-color: var(--hop-Checkbox-text-color-hover-invalid);
    --icon-color: var(--hop-Checkbox-icon-color-hover-invalid);
}

.hop-Checkbox[data-invalid][data-focus-visible] {
    --box-background-color: var(--hop-Checkbox-box-background-color-focus-invalid);
    --box-border-color: var(--hop-Checkbox-box-border-color-focus-invalid);
}

.hop-Checkbox[data-invalid][data-selected] {
    --box-background-color: var(--hop-Checkbox-box-background-color-checked-invalid);
    --box-border-color: var(--hop-Checkbox-box-border-color-checked-invalid);
}

.hop-Checkbox[data-invalid][data-pressed] {
    --box-background-color: var(--hop-Checkbox-box-background-color-pressed-invalid);
    --box-border-color: var(--hop-Checkbox-box-border-color-pressed-invalid);
    --text-color: var(--hop-Checkbox-text-color-pressed-invalid);
    --icon-color: var(--hop-Checkbox-icon-color-pressed-invalid);
}

.hop-Checkbox[data-disabled] {
    --box-background-color: var(--hop-Checkbox-box-background-color-disabled);
    --box-border-color: var(--hop-Checkbox-box-border-color-disabled);
    --check-color: var(--hop-Checkbox-check-color-disabled);
    --cursor: not-allowed;
    --text-color: var(--hop-Checkbox-text-color-disabled);
    --icon-color: var(--hop-Checkbox-icon-color-disabled);
    --description-color: var(--hop-Checkbox-description-color-disabled);
}

.hop-Checkbox[data-disabled][data-selected] {
    --box-background-color: var(--hop-Checkbox-box-background-color-checked-disabled);
    --box-border-color: var(--hop-Checkbox-box-border-color-checked-disabled);
}

.hop-Checkbox--sm {
    --box-inline-size: var(--hop-Checkbox-box-sm-inline-size);
    --text-top-offset: var(--hop-Checkbox-text-sm-top-offset);
    --text-margin-inline-start: var(--hop-Checkbox-text-sm-margin-inline-start);
}

.hop-Checkbox--md {
    --box-inline-size: var(--hop-Checkbox-box-md-inline-size);
    --text-top-offset: var(--hop-Checkbox-text-md-top-offset);
    --text-margin-inline-start: var(--hop-Checkbox-text-md-margin-inline-start);
}

/* Icons */
.hop-Checkbox__icon,
.hop-Checkbox__icon-list {
    flex: 0 0 auto;
    order: 3;
    color: var(--icon-color);
}

/* Box */
.hop-Checkbox__box {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    order: 1;

    box-sizing: border-box;
    aspect-ratio: 1/1;
    inline-size: var(--box-inline-size, var(--hop-Checkbox-box-md-inline-size));

    background-color: var(--box-background-color);
    border: var(--hop-Checkbox-box-border-size) solid var(--box-border-color);
    border-radius: var(--box-border-radius);
    outline: var(--box-outline, none);
    outline-offset: 0.125rem;

    transition:
        background-color var(--transition-duration) var(--hop-easing-productive),
        border var(--transition-duration) var(--hop-easing-productive);
}

/* Check */
.hop-Checkbox__check {
    display: var(--check-display);
    color: var(--check-color);
}

/* Text */
.hop-Checkbox__text {
    flex: 0 1 auto;
    order: 2;

    min-inline-size: 0;
    margin-block-start: var(--text-top-offset, var(--hop-Checkbox-text-md-top-offset));
    margin-inline-start: var(--text-margin-inline-start, var(--hop-Checkbox-text-md-margin-inline-start));

    color: var(--text-color);
}
