.hd-component-preview-wrapper {
    color: var(--hd-color-neutral-text);
    position: relative;
}

.hd-component-preview-wrapper__card {
    height: 100%;
}

.hd-component-preview-wrapper__card.hd-card {
    padding-bottom: var(--hd-space-8);
    padding-top: var(--hd-space-8);
}

.hd-component-preview-wrapper[data-schema="light"] {
    .hd-component-preview-wrapper__card {
        --background: var(--hd-white);
        --color: var(--hd-neutral-900);
        --dot-background: var(--hd-neutral-50);
    }

    .hd-component-preview-wrapper__action {
        --toggle-button-color: var(--hd-neutral-900);
    }

    .hd-component-preview-wrapper__action:hover {
        --toggle-button-hover-background: var(--hd-neutral-50);
    }

    .hd-component-preview-wrapper__action[data-selected] {
        --toggle-button-selected-background: var(--hd-neutral-50);
    }
}

.hd-component-preview-wrapper[data-schema="dark"] {
    .hd-component-preview-wrapper__card {
        --background: var(--hd-neutral-900);
        --color: var(--hd-neutral-0);
        --dot-background: var(--hd-neutral-800);
    }

    .hd-component-preview-wrapper__action {
        --toggle-button-color: var(--hd-neutral-0);
    }

    .hd-component-preview-wrapper__action:hover {
        --toggle-button-hover-background: var(--hd-neutral-900);
        --toggle-button-color: var(--hd-neutral-0);
    }

    .hd-component-preview-wrapper__action[data-selected] {
        --toggle-button-selected-background: var(--hd-neutral-800);
    }
}

.hd-component-preview-wrapper__actions {
    display: flex;
    gap: var(--hd-space-1);
    position: absolute;
    inset: 1rem 1rem auto auto;
    z-index: 100;
}
