.hop-IllustratedMessage {
    --hop-IllustratedMessage-sm-max-width: 20rem;
    --hop-IllustratedMessage-md-max-width: 25rem;
    --hop-IllustratedMessage-lg-max-width: 28.5rem;

    display: grid;
    grid-template-areas:
        "image"
        "heading"
        "content";
    place-items: center;

    max-inline-size: var(--max-width);

    text-align: center;
}

.hop-IllustratedMessage--sm {
    --max-width: var(--hop-IllustratedMessage-sm-max-width);
}

.hop-IllustratedMessage--md {
    --max-width: var(--hop-IllustratedMessage-md-max-width);
}

.hop-IllustratedMessage--lg {
    --max-width: var(--hop-IllustratedMessage-lg-max-width);
}

.hop-IllustratedMessage__image {
    grid-area: image;
}

.hop-IllustratedMessage__heading {
    grid-area: heading;
    padding-block-start: var(--hop-space-stack-md);
}

.hop-IllustratedMessage__description {
    grid-area: content;
    padding-block-start: var(--hop-space-stack-sm);
}
