.hd-tabs__list {
    font-size: 1rem;
    font-family: var(--hd-header-font-family);
    display: inline-flex;
    gap: 0.125rem;
    padding-inline: var(--hd-space-05);
    padding-block: var(--hd-space-05);
    border-radius: var(--hd-border-radius-md);
    background-color: var(--hd-color-neutral-surface-weak);
}

.hd-tabs__item-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: var(--hd-border-radius-sm);
    padding-inline: var(--hd-space-2);
    padding-block: var(--hd-space-1);
    transition: background-color 0.15s ease-in, color 0.05s linear;
    z-index: 1;
}

.hd-tabs__item-button--active,
.hd-tabs__item-button:hover {
    color: var(--hd-color-neutral-text);
    background-color: var(--hd-color-neutral-surface);
    box-shadow: 0 0.0625rem 0 0 rgb(0 0 0 / 15%);
}

.hd-tabs__item-button:focus-visible {
    outline: none;
    box-shadow: var(--hd-focus-ring);
    z-index: 10;
}

.hd-tabs__content {
    padding-top: var(--hd-space-2);
}

/* Icon */
.hd-tabs__icon {
    display: flex;
    margin-inline-end: var(--hd-space-1);
    height: 1rem;
    width: 1rem;
}
