.hop-Tile {
    /* Default */
    --hop-Tile-color: var(--hop-neutral-text);
    --hop-Tile-background: var(--hop-neutral-surface);
    --hop-Tile-border-witdh: 0.0625rem;
    --hop-Tile-border-style: solid;
    --hop-Tile-border-color: var(--hop-neutral-border-strong);
    --hop-Tile-border-radius: var(--hop-shape-rounded-sm);
    --hop-Tile-cursor: pointer;
    --hop-Tile-outline-offset: 0rem;
    --hop-Tile-outline-color: transparent;
    --hop-Tile-outline-width: var(--hop-space-20);
    --hop-Tile-padding: var(--hop-space-inset-md);
    --hop-Tile-display: flex;
    --hop-Tile-justify-content: space-between;
    --hop-Tile-gap: var(--hop-space-inset-md);

    /* Focused */
    --hop-Tile-color-focused: var(--hop-neutral-text-hover);
    --hop-Tile-background-focused: var(--hop-neutral-surface-hover);
    --hop-Tile-outline-color-focused: var(--hop-primary-border-focus);
    --hop-Tile-border-color-focused: transparent;

    /* Hovered */
    --hop-Tile-color-hovered: var(--hop-neutral-text-hover);
    --hop-Tile-background-hovered: var(--hop-neutral-surface-hover);
    --hop-Tile-border-color-hovered: var(--hop-neutral-border-strong-hover);

    /* Pressed */
    --hop-Tile-color-pressed: var(--hop-neutral-text-press);
    --hop-Tile-background-pressed: var(--hop-neutral-surface-press);
    --hop-Tile-border-color-pressed: var(--hop-neutral-border-strong);

    /* Selected */
    --hop-Tile-color-selected: var(--hop-neutral-text);
    --hop-Tile-background-selected: var(--hop-neutral-surface-weak-selected);
    --hop-Tile-outline-color-selected: var(--hop-neutral-border-strong);
    --hop-Tile-border-color-selected: transparent;

    /* Disabled */
    --hop-Tile-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Tile-background-disabled: var(--hop-neutral-surface-disabled);
    --hop-Tile-border-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Tile-outline-color-disabled: transparent;
    --hop-Tile-cursor-disabled: auto;

    /* Icon */
    --hop-Tile-color-icon: transparent;

    /* Icon | Selected */
    --hop-Tile-color-icon-selected: var(--hop-neutral-icon);

    /* Icon | Disabled */
    --hop-Tile-color-icon-disabled: var(--hop-neutral-icon-disabled);

    /* Internal variables */
    --color: var(--hop-Tile-color);
    --background: var(--hop-Tile-background);
    --border-color:  var(--hop-Tile-border-color);
    --cursor: var(--hop-Tile-cursor);

    cursor: var(--cursor);

    display: var(--hop-Tile-display);
    gap: var(--hop-Tile-gap);
    justify-content: var(--hop-Tile-justify-content);

    padding: var(--hop-Tile-padding);

    color: var(--color);

    background: var(--background);
    border: var(--hop-Tile-border-witdh) var(--hop-Tile-border-style) var(--border-color);
    border-radius: var(--hop-Tile-border-radius);
    outline: var(--hop-Tile-outline-offset) solid var(--hop-Tile-outline-color);
    outline-width: var(--hop-Tile-outline-width);
}

.hop-Tile[data-hovered] {
    --color: var(--hop-Tile-color-hovered);
    --background: var(--hop-Tile-background-hovered);
    --border-color: var(--hop-Tile-border-color-hovered);
}

.hop-Tile[data-pressed] {
    --color: var(--hop-Tile-color-pressed);
    --background: var(--hop-Tile-background-pressed);
    --border-color: var(--hop-Tile-border-color-pressed);
}

.hop-Tile[data-focus-visible] {
    --color: var(--hop-Tile-color-focused);
    --background: var(--hop-Tile-background-focused);
    --hop-Tile-outline-color: var(--hop-Tile-outline-color-focused);
    --border-color: var(--hop-Tile-border-color-focused);
}

.hop-Tile[data-selected] {
    --color: var(--hop-Tile-color-selected);
    --background: var(--hop-Tile-background-selected);
    --border-color: var(--hop-Tile-border-color-selected);
    --hop-Tile-outline-color: var(--hop-Tile-outline-color-selected);
}

.hop-Tile[data-disabled] {
    --color: var(--hop-Tile-color-disabled);
    --background: var(--hop-Tile-background-disabled);
    --border-color: var(--hop-Tile-border-color-disabled);
    --hop-Tile-outline-color: var(--hop-Tile-outline-color-disabled);
    --cursor: var(--hop-Tile-cursor-disabled);
}

.hop-Tile[data-selected] > .hop-Tile__icon {
    color: var(--hop-Tile-color-ico-selected);
}

.hop-Tile[data-disabled][data-selected] > .hop-Tile__icon {
    color: var(--hop-Tile-color-icon-disabled)
}

.hop-Tile__icon {
    color: var(--hop-Tile-color-icon);
}
