.hd-preview {
    font-family: Inter, sans-serif;
    width: var(--hd-space-5);
    height: var(--hd-space-3);
    border-radius: 0;
    float: right;
    background-color: var(--hd-color-primary-surface);
}

.hd-preview--stroke {
    border-radius: 0;
    border: var(--hd-border-size) solid var(--hd-color-primary-border);
    border-bottom-style: initial;
    border-right-style: initial;
    background-color: transparent;
}

.hd-preview--font {
    align-items: center;
    background-color: transparent;
    display: flex;
    font-size: 1.5rem;
    height: auto;
    justify-content: flex-end;
}

.hd-preview--line-height {
    border-block: var(--hd-border-size) dashed var(--hd-color-primary-border);
    font-size: 1.125rem;
    position: relative;
    width: auto;
}

.hd-preview--line-height::after {
    border-bottom: var(--hd-border-size) dashed var(--hd-color-primary-border);
    content: "";
    display: block;
    height: var(--hd-border-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.hd-preview--semantic-size {
    display: flex;
    height: 6.5rem;
    width: 6.5rem;
}

.hd-preview--semantic-size::after {
    background: var(--hd-color-neutral-surface);
    content: "";
    display: block;
    flex: 1 1 auto;
    width: 100%;
}

.hd-preview--stack {
    border: var(--hd-border-size) solid var(--hd-color-neutral-border);
    height: auto;
}

.hd-preview--stack::after {
    height: var(--hd-space-9)
}

.hd-preview--inline {
    border: var(--hd-border-size) solid var(--hd-color-neutral-border);
    width: auto;
}

.hd-preview--inline::after {
    width: var(--hd-space-9)
}
