.hd-callout {
    --hd-callout-icon-color: var(--hd-color-neutral-text);
    --hd-callout-background-color: transparent;
    --hd-callout-text-color: var(--hd-neutral-900);

    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: var(--hd-title-font-family);
    font-size: var(--hd-default-font-size);
    line-height: 1.3;
    color: var(--hd-callout-text-color);
    padding-block: var(--hd-space-2);
    padding-inline: var(--hd-space-2);
    margin-block: var(--hd-space-3);
    border-radius: 0.25rem;
    background-color: var(--hd-callout-background-color);
}

.hd-callout p a {
    color: var(--hd-neutral-900);
}

.hd-callout__icon {
    align-self: flex-start;
    margin-top: 0.25rem;
    flex-shrink: 0;
    color: var(--hd-callout-icon-color);
}

.hd-callout--information {
    --hd-callout-icon-color: var(--hd-color-information-icon);
    --hd-callout-background-color: var(--hd-color-information-surface);
}

.hd-callout--warning {
    --hd-callout-icon-color: var(--hd-color-warning-icon);
    --hd-callout-background-color: var(--hd-color-warning-surface);
}

.hd-callout--success {
    --hd-callout-icon-color: var(--hd-color-success-icon);
    --hd-callout-background-color: var(--hd-color-success-surface);
}

.hd-callout--error {
    --hd-callout-icon-color: var(--hd-color-error-icon);
    --hd-callout-background-color: var(--hd-color-error-surface);
}

.hd-callout--message {
    --hd-callout-icon-color: var(--hd-color-message-icon);
    --hd-callout-background-color: var(--hd-color-message-surface);
}
