.hop-Button {
    --hop-Button-padding: 0 var(--hop-space-inset-md);
    --hop-Button-border-radius: var(--hop-shape-rounded-md);
    --hop-Button-focus-ring-color: var(--hop-primary-surface-hover); /* TODO: place to centralize tokens like this? */
    --hop-Button-sm-height: 2rem;
    --hop-Button-md-height: 2.5rem;

    /* Primary */
    --hop-Button-primary-color: var(--hop-primary-text-strong);
    --hop-Button-primary-color-hover: var(--hop-primary-text-strong-hover);
    --hop-Button-primary-color-pressed: var(--hop-primary-text-strong);
    --hop-Button-primary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-primary-background-color: var(--hop-primary-surface-strong);
    --hop-Button-primary-background-color-hover: var(--hop-primary-surface-strong-hover);
    --hop-Button-primary-background-color-pressed: var(--hop-primary-surface-strong-pressed);
    --hop-Button-primary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-primary-border: 0;
    --hop-Button-primary-border-hover: 0;
    --hop-Button-primary-border-pressed: 0;
    --hop-Button-primary-border-disabled: 0;

    /* Secondary */
    --hop-Button-secondary-color: var(--hop-neutral-text);
    --hop-Button-secondary-color-hover: var(--hop-neutral-text-hover);
    --hop-Button-secondary-color-pressed: var(--hop-neutral-text-pressed);
    --hop-Button-secondary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-secondary-background-color: var(--hop-neutral-surface);
    --hop-Button-secondary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-Button-secondary-background-color-pressed: var(--hop-neutral-surface-pressed);
    --hop-Button-secondary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-secondary-border: 0.0625rem solid var(--hop-neutral-border-strong);
    --hop-Button-secondary-border-hover: 0.0625rem solid var(--hop-neutral-border-strong-hover);
    --hop-Button-secondary-border-pressed: 0.0625rem solid var(--hop-neutral-border-strong);
    --hop-Button-secondary-border-disabled: 0;

    /* Tertiary */
    --hop-Button-tertiary-color: var(--hop-neutral-text);
    --hop-Button-tertiary-color-hover: var(--hop-neutral-text-hover);
    --hop-Button-tertiary-color-pressed: var(--hop-neutral-text);
    --hop-Button-tertiary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-tertiary-background-color: var(--hop-neutral-surface);
    --hop-Button-tertiary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-Button-tertiary-background-color-pressed: var(--hop-neutral-surface-weak-active);
    --hop-Button-tertiary-background-color-disabled: var(--hop-neutral-surface);
    --hop-Button-tertiary-border: 0;
    --hop-Button-tertiary-border-hover: 0;
    --hop-Button-tertiary-border-pressed: 0;
    --hop-Button-tertiary-border-disabled: 0;

    /* Upsell */
    --hop-Button-upsell-color: var(--hop-upsell-text);
    --hop-Button-upsell-color-hover: var(--hop-upsell-text-hover);
    --hop-Button-upsell-color-pressed: var(--hop-upsell-text-pressed);
    --hop-Button-upsell-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-upsell-background-color: var(--hop-upsell-surface);
    --hop-Button-upsell-background-color-hover: var(--hop-upsell-surface-hover);
    --hop-Button-upsell-background-color-pressed: var(--hop-upsell-surface-pressed);
    --hop-Button-upsell-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-upsell-border: 0.0625rem solid var(--hop-upsell-surface); /* same color as the background */
    --hop-Button-upsell-border-hover: 0.0625rem solid var(--hop-upsell-surface-hover); /* same color as the background */
    --hop-Button-upsell-border-pressed: 0.0625rem solid var(--hop-upsell-border-pressed);
    --hop-Button-upsell-border-disabled: 0;

    /* Negative */
    --hop-Button-negative-color: var(--hop-danger-text-strong);
    --hop-Button-negative-color-hover: var(--hop-danger-text-strong-hover);
    --hop-Button-negative-color-pressed: var(--hop-danger-text-active);
    --hop-Button-negative-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-negative-background-color: var(--hop-danger-surface-strong);
    --hop-Button-negative-background-color-hover: var(--hop-danger-surface-hover);
    --hop-Button-negative-background-color-pressed: var(--hop-danger-surface-active);
    --hop-Button-negative-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-negative-border: 0.0625rem solid var(--hop-danger-surface-strong); /* same color as the background */
    --hop-Button-negative-border-hover: 0.0625rem solid var(--hop-danger-surface-hover); /* same color as the background */
    --hop-Button-negative-border-pressed: 0.0625rem solid var(--hop-danger-border-active);
    --hop-Button-negative-border-disabled: 0;

    /* Internal variable */
    --inline-size: max-content;
    --block-size: var(--hop-Button-md-height);
    --background-color: var(--hop-primary-surface-strong);
    --color: var(--hop-primary-text-strong);
    --border: 0;

    /** styles */
    cursor: pointer;
    display: grid;
    grid-template-areas:"start-icon content end-icon";
    grid-template-columns: auto min-content auto;
    column-gap: var(--hop-space-inline-xs);
    box-sizing: border-box;
    position: relative;
    padding: var(--hop-Button-padding);
    border-radius: var(--hop-Button-border-radius);
    outline: none;
    outline-offset: 0.125rem;
    transition:
        color var(--hop-easing-duration-2) var(--hop-easing-productive),
        background-color var(--hop-easing-duration-2) var(--hop-easing-productive),
        border var(--hop-easing-duration-2) var(--hop-easing-productive);
    inline-size: var(--inline-size);
    block-size: var(--block-size);
    background-color: var(--background-color);
    color: var(--color);
    border: var(--border);
    align-items:center
}

.hop-Button[data-disabled] {
    cursor: not-allowed;
}

.hop-Button[data-focus-visible] {
    outline: 0.125rem solid var(--hop-Button-focus-ring-color);
}

.hop-Button--fluid {
    --inline-size: 100%;
}

.hop-Button--sm {
    --block-size: var(--hop-Button-sm-height);
}

.hop-Button--primary {
    --background-color: var(--hop-Button-primary-background-color);
    --color: var(--hop-Button-primary-color);
    --border: var(--hop-Button-primary-border);
}

.hop-Button--primary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-primary-background-color-disabled);
    --color: var(--hop-Button-primary-color-disabled);
    --border: var(--hop-Button-primary-border-disabled);
}

.hop-Button--primary[data-hovered] {
    --background-color: var(--hop-Button-primary-background-color-hover);
    --color: var(--hop-Button-primary-color-hover);
    --border: var(--hop-Button-primary-border-hover);
}

.hop-Button--primary[data-pressed] {
    --background-color: var(--hop-Button-primary-background-color-pressed);
    --color: var(--hop-Button-primary-color-pressed);
    --border: var(--hop-Button-primary-border-pressed);
}

.hop-Button--secondary {
    --background-color: var(--hop-Button-secondary-background-color);
    --color: var(--hop-Button-secondary-color);
    --border: var(--hop-Button-secondary-border);
}

.hop-Button--secondary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-secondary-background-color-disabled);
    --color: var(--hop-Button-secondary-color-disabled);
    --border: var(--hop-Button-secondary-border-disabled);
}

.hop-Button--secondary[data-hovered] {
    --background-color: var(--hop-Button-secondary-background-color-hover);
    --color: var(--hop-Button-secondary-color-hover);
    --border: var(--hop-Button-secondary-border-hover);
}

.hop-Button--secondary[data-pressed] {
    --background-color: var(--hop-Button-secondary-background-color-pressed);
    --color: var(--hop-Button-secondary-color-pressed);
    --border: var(--hop-Button-secondary-border-pressed);
}

.hop-Button--tertiary {
    --background-color: var(--hop-Button-tertiary-background-color);
    --color: var(--hop-Button-tertiary-color);
    --border: var(--hop-Button-tertiary-border);
}

.hop-Button--tertiary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-tertiary-background-color-disabled);
    --color: var(--hop-Button-tertiary-color-disabled);
    --border: var(--hop-Button-tertiary-border-disabled);
}

.hop-Button--tertiary[data-hovered] {
    --background-color: var(--hop-Button-tertiary-background-color-hover);
    --color: var(--hop-Button-tertiary-color-hover);
    --border: var(--hop-Button-tertiary-border-hover);
}

.hop-Button--tertiary[data-pressed] {
    --background-color: var(--hop-Button-tertiary-background-color-pressed);
    --color: var(--hop-Button-tertiary-color-pressed);
    --border: var(--hop-Button-tertiary-border-pressed);
}

.hop-Button--upsell {
    --background-color: var(--hop-Button-upsell-background-color);
    --color: var(--hop-Button-upsell-color);
    --border: var(--hop-Button-upsell-border);
}

.hop-Button--upsell[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-upsell-background-color-disabled);
    --color: var(--hop-Button-upsell-color-disabled);
    --border: var(--hop-Button-upsell-border-disabled);
}

.hop-Button--upsell[data-hovered] {
    --background-color: var(--hop-Button-upsell-background-color-hover);
    --color: var(--hop-Button-upsell-color-hover);
    --border: var(--hop-Button-upsell-border-hover);
}

.hop-Button--upsell[data-pressed] {
    --background-color: var(--hop-Button-upsell-background-color-pressed);
    --color: var(--hop-Button-upsell-color-pressed);
    --border: var(--hop-Button-upsell-border-pressed);
}

.hop-Button--negative {
    --background-color: var(--hop-Button-negative-background-color);
    --color: var(--hop-Button-negative-color);
    --border: var(--hop-Button-negative-border);
}

.hop-Button--negative[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-negative-background-color-disabled);
    --color: var(--hop-Button-negative-color-disabled);
    --border: var(--hop-Button-negative-border-disabled);
}

.hop-Button--negative[data-hovered] {
    --background-color: var(--hop-Button-negative-background-color-hover);
    --color: var(--hop-Button-negative-color-hover);
    --border: var(--hop-Button-negative-border-hover);
}

.hop-Button--negative[data-pressed] {
    --background-color: var(--hop-Button-negative-background-color-pressed);
    --color: var(--hop-Button-negative-color-pressed);
    --border: var(--hop-Button-negative-border-pressed);
}

.hop-Button__Spinner {
    position: absolute;
    justify-self: center;
    color: var(--color)
}

.hop-Button__icon,
.hop-Button__icon-list {
    grid-area: start-icon;
    justify-self: end;
}

.hop-Button__text {
    grid-area: content;
    font-weight: var(--hop-font-weight-505);
    overflow: visible;
    text-wrap: nowrap;
    user-select: none;
}

.hop-Button__end-icon,
.hop-Button__end-icon-list {
    grid-area: end-icon;
}

/* Keep element present to:
 - allows screen readers to read the content
 - preserve the button's size
*/
.hop-Button[data-loading] > *:not(.hop-Button__Spinner) {
    opacity: 0;
}
