.hop-Button {
    --hop-Button-border-radius: var(--hop-shape-rounded-md);
    --hop-Button-focus-ring-color: var(--hop-primary-border-focus); /* TODO: replace with a token */

    /* Sizes */
    --hop-Button-icon-only-padding: 0; /* Since the content is centered, no need for padding */
    --hop-Button-sm-height: 2rem;
    --hop-Button-md-height: 2.5rem;

    /* Primary */
    --hop-Button-primary-color: var(--hop-primary-text-strong);
    --hop-Button-primary-color-hover: var(--hop-primary-text-strong-hover);
    --hop-Button-primary-color-pressed: var(--hop-primary-text-active);
    --hop-Button-primary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-primary-background-color: var(--hop-primary-surface-strong);
    --hop-Button-primary-background-color-hover: var(--hop-primary-surface-hover);
    --hop-Button-primary-background-color-pressed: var(--hop-primary-surface-active);
    --hop-Button-primary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-primary-border: 0.0625rem solid var(--hop-Button-primary-background-color); /* same color as the background */
    --hop-Button-primary-border-hover: 0.0625rem solid var(--hop-Button-primary-background-color-hover); /* same color as the background */
    --hop-Button-primary-border-pressed: 0.0625rem solid var(--hop-primary-border-active);
    --hop-Button-primary-border-disabled: 0.0625rem solid var(--hop-Button-primary-background-color-disabled); /* same color as the background */
    --hop-Button-primary-spinner-color: var(--hop-primary-icon-strong);
    --hop-Button-primary-sm-padding-x: var(--hop-space-inset-sm);
    --hop-Button-primary-sm-padding-y: 0;
    --hop-Button-primary-md-padding-x: var(--hop-space-inset-md);
    --hop-Button-primary-md-padding-y: 0;

    /* Secondary */
    --hop-Button-secondary-color: var(--hop-neutral-text);
    --hop-Button-secondary-color-hover: var(--hop-neutral-text-hover);
    --hop-Button-secondary-color-pressed: var(--hop-neutral-text-active);
    --hop-Button-secondary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-secondary-background-color: var(--hop-neutral-surface);
    --hop-Button-secondary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-Button-secondary-background-color-pressed: var(--hop-neutral-surface-active);
    --hop-Button-secondary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-secondary-border: 0.0625rem solid var(--hop-neutral-border-strong);
    --hop-Button-secondary-border-hover: 0.0625rem solid var(--hop-neutral-border-strong-hover);
    --hop-Button-secondary-border-pressed: 0.0625rem solid var(--hop-Button-secondary-background-color-pressed);/* same color as the background */
    --hop-Button-secondary-border-disabled: 0.0625rem solid var(--hop-Button-secondary-background-color-disabled); /* same color as the background */
    --hop-Button-secondary-spinner-color: var(--hop-neutral-icon);
    --hop-Button-secondary-sm-padding-x: var(--hop-space-inset-sm);
    --hop-Button-secondary-sm-padding-y: 0;
    --hop-Button-secondary-md-padding-x: var(--hop-space-inset-md);
    --hop-Button-secondary-md-padding-y: 0;

    /* Upsell */
    --hop-Button-upsell-color: var(--hop-upsell-text);
    --hop-Button-upsell-color-hover: var(--hop-upsell-text-hover);
    --hop-Button-upsell-color-pressed: var(--hop-upsell-text-active);
    --hop-Button-upsell-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-upsell-background-color: var(--hop-upsell-surface);
    --hop-Button-upsell-background-color-hover: var(--hop-upsell-surface-hover);
    --hop-Button-upsell-background-color-pressed: var(--hop-upsell-surface-active);
    --hop-Button-upsell-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-upsell-border: 0.0625rem solid var(--hop-Button-upsell-background-color); /* same color as the background */
    --hop-Button-upsell-border-hover: 0.0625rem solid var(--hop-Button-upsell-background-color-hover); /* same color as the background */
    --hop-Button-upsell-border-pressed: 0.0625rem solid var(--hop-upsell-border-active);
    --hop-Button-upsell-border-disabled: 0.0625rem solid var(--hop-Button-upsell-background-color-disabled); /* same color as the background */
    --hop-Button-upsell-spinner-color: var(--hop-upsell-icon);
    --hop-Button-upsell-sm-padding-x: var(--hop-space-inset-sm);
    --hop-Button-upsell-sm-padding-y: 0;
    --hop-Button-upsell-md-padding-x: var(--hop-space-inset-md);
    --hop-Button-upsell-md-padding-y: 0;

    /* Danger */
    --hop-Button-danger-color: var(--hop-danger-text-strong);
    --hop-Button-danger-color-hover: var(--hop-danger-text-strong-hover);
    --hop-Button-danger-color-pressed: var(--hop-danger-text-active);
    --hop-Button-danger-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-danger-background-color: var(--hop-danger-surface-strong);
    --hop-Button-danger-background-color-hover: var(--hop-danger-surface-hover);
    --hop-Button-danger-background-color-pressed: var(--hop-danger-surface-active);
    --hop-Button-danger-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-Button-danger-border: 0.0625rem solid var(--hop-Button-danger-background-color); /* same color as the background */
    --hop-Button-danger-border-hover: 0.0625rem solid var(--hop-Button-danger-background-color-hover); /* same color as the background */
    --hop-Button-danger-border-pressed: 0.0625rem solid var(--hop-danger-border-active);
    --hop-Button-danger-border-disabled: 0.0625rem solid var(--hop-Button-danger-background-color-disabled); /* same color as the background */
    --hop-Button-danger-spinner-color: var(--hop-primary-icon-strong);
    --hop-Button-danger-sm-padding-x: var(--hop-space-inset-sm);
    --hop-Button-danger-sm-padding-y: 0;
    --hop-Button-danger-md-padding-x: var(--hop-space-inset-md);
    --hop-Button-danger-md-padding-y: 0;

    /* Ghost Primary */
    --hop-Button-ghost-primary-color: var(--hop-primary-text);
    --hop-Button-ghost-primary-color-hover: var(--hop-primary-text-hover);
    --hop-Button-ghost-primary-color-pressed: var(--hop-primary-text-active);
    --hop-Button-ghost-primary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-ghost-primary-background-color: transparent;
    --hop-Button-ghost-primary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-Button-ghost-primary-background-color-pressed: var(--hop-primary-surface-active);
    --hop-Button-ghost-primary-background-color-disabled: var(--hop-neutral-surface);
    --hop-Button-ghost-primary-border: 0.0625rem solid var(--hop-Button-ghost-primary-background-color); /* same color as the background */
    --hop-Button-ghost-primary-border-hover: 0.0625rem solid var(--hop-Button-ghost-primary-background-color-hover); /* same color as the background */
    --hop-Button-ghost-primary-border-pressed: 0.0625rem solid var(--hop-Button-ghost-primary-background-color-pressed); /* same color as the background */
    --hop-Button-ghost-primary-border-disabled: 0.0625rem solid var(--hop-Button-ghost-primary-background-color-disabled); /* same color as the background */
    --hop-Button-ghost-primary-spinner-color: var(--hop-neutral-icon);
    --hop-Button-ghost-primary-sm-padding-x: var(--hop-space-inset-xs);
    --hop-Button-ghost-primary-sm-padding-y: 0;
    --hop-Button-ghost-primary-md-padding-x: var(--hop-space-inset-sm);
    --hop-Button-ghost-primary-md-padding-y: 0;

    /* Ghost Secondary */
    --hop-Button-ghost-secondary-color: var(--hop-neutral-text);
    --hop-Button-ghost-secondary-color-hover: var(--hop-neutral-text-hover);
    --hop-Button-ghost-secondary-color-pressed: var(--hop-neutral-text);
    --hop-Button-ghost-secondary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-ghost-secondary-background-color: transparent;
    --hop-Button-ghost-secondary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-Button-ghost-secondary-background-color-pressed: var(--hop-neutral-surface-weak-active);
    --hop-Button-ghost-secondary-background-color-disabled: var(--hop-neutral-surface);
    --hop-Button-ghost-secondary-border: 0.0625rem solid var(--hop-Button-ghost-secondary-background-color); /* same color as the background */
    --hop-Button-ghost-secondary-border-hover: 0.0625rem solid var(--hop-Button-ghost-secondary-background-color-hover); /* same color as the background */
    --hop-Button-ghost-secondary-border-pressed: 0.0625rem solid var(--hop-Button-ghost-secondary-background-color-pressed); /* same color as the background */
    --hop-Button-ghost-secondary-border-disabled: 0.0625rem solid var(--hop-Button-ghost-secondary-background-color-disabled); /* same color as the background */
    --hop-Button-ghost-secondary-spinner-color: var(--hop-neutral-icon);
    --hop-Button-ghost-secondary-sm-padding-x: var(--hop-space-inset-xs);
    --hop-Button-ghost-secondary-sm-padding-y: 0;
    --hop-Button-ghost-secondary-md-padding-x: var(--hop-space-inset-sm);
    --hop-Button-ghost-secondary-md-padding-y: 0;

    /* Ghost Danger */
    --hop-Button-ghost-danger-color: var(--hop-danger-text-weak);
    --hop-Button-ghost-danger-color-hover: var(--hop-danger-text-hover);
    --hop-Button-ghost-danger-color-pressed: var(--hop-danger-text-active);
    --hop-Button-ghost-danger-color-disabled: var(--hop-neutral-text-disabled);
    --hop-Button-ghost-danger-background-color: transparent;
    --hop-Button-ghost-danger-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-Button-ghost-danger-background-color-pressed: var(--hop-danger-surface-active);
    --hop-Button-ghost-danger-background-color-disabled: var(--hop-neutral-surface);
    --hop-Button-ghost-danger-border: 0.0625rem solid var(--hop-Button-ghost-danger-background-color); /* same color as the background */
    --hop-Button-ghost-danger-border-hover: 0.0625rem solid var(--hop-Button-ghost-danger-background-color-hover); /* same color as the background */
    --hop-Button-ghost-danger-border-pressed: 0.0625rem solid var(--hop-Button-ghost-danger-background-color-pressed); /* same color as the background */
    --hop-Button-ghost-danger-border-disabled: 0.0625rem solid var(--hop-Button-ghost-danger-background-color-disabled); /* same color as the background */
    --hop-Button-ghost-danger-spinner-color: var(--hop-neutral-icon);
    --hop-Button-ghost-danger-sm-padding-x: var(--hop-space-inset-xs);
    --hop-Button-ghost-danger-sm-padding-y: 0;
    --hop-Button-ghost-danger-md-padding-x: var(--hop-space-inset-sm);
    --hop-Button-ghost-danger-md-padding-y: 0;

    /* Internal variable */
    --inline-size: max-content;
    --block-size: var(--hop-Button-md-height);
    --background-color: var(--hop-primary-surface-strong);
    --color: var(--hop-primary-text-strong);
    --spinner: var(--hop-primary-icon-strong);
    --border: 0;
    --padding-inline: 0;
    --padding-block: 0;

    /** styles */
    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: grid;
    grid-template-areas:"start-icon content end-icon";
    grid-template-columns: auto min-content auto;
    column-gap: var(--hop-space-inline-xs);
    align-items: center;

    box-sizing: border-box;
    inline-size: var(--inline-size);
    block-size: var(--block-size);
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);

    color: var(--color);
    text-decoration: none;
    white-space: nowrap;

    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--hop-Button-border-radius);
    outline: none;
    outline-offset: 0.125rem;

    transition:
        color var(--hop-easing-duration-2) var(--hop-easing-productive),
        background-color var(--hop-easing-duration-2) var(--hop-easing-productive),
        border var(--hop-easing-duration-2) var(--hop-easing-productive);
}

/** Focus Ring */
.hop-Button[data-focus-visible] {
    outline: 0.125rem solid var(--hop-Button-focus-ring-color);
}

/** Modifier */
.hop-Button--icon-only {
    --padding-block: var(--hop-Button-icon-only-padding);
    --padding-inline: var(--hop-Button-icon-only-padding);

    column-gap: 0;
    aspect-ratio: 1;
}

.hop-Button[data-disabled],
.hop-Button[data-loading] {
    cursor: not-allowed;
}

.hop-Button--fluid {
    --inline-size: 100%;
}

/** Sizes */
.hop-Button--sm {
    --block-size: var(--hop-Button-sm-height);
}

.hop-Button--primary.hop-Button--sm:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-primary-sm-padding-x);
    --padding-block: var(--hop-Button-primary-sm-padding-y);
}

.hop-Button--primary.hop-Button--md:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-primary-md-padding-x);
    --padding-block: var(--hop-Button-primary-md-padding-y);
}

.hop-Button--secondary.hop-Button--md:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-secondary-md-padding-x);
    --padding-block: var(--hop-Button-secondary-md-padding-y);
}

.hop-Button--secondary.hop-Button--sm:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-secondary-sm-padding-x);
    --padding-block: var(--hop-Button-secondary-sm-padding-y);
}

.hop-Button--upsell.hop-Button--md:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-upsell-md-padding-x);
    --padding-block: var(--hop-Button-upsell-md-padding-y);
}

.hop-Button--upsell.hop-Button--sm:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-upsell-sm-padding-x);
    --padding-block: var(--hop-Button-upsell-sm-padding-y);
}

.hop-Button--danger.hop-Button--md:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-danger-md-padding-x);
    --padding-block: var(--hop-Button-danger-md-padding-y);
}

.hop-Button--danger.hop-Button--sm:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-danger-sm-padding-x);
    --padding-block: var(--hop-Button-danger-sm-padding-y);
}

.hop-Button--ghost-danger.hop-Button--md:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-ghost-danger-md-padding-x);
    --padding-block: var(--hop-Button-ghost-danger-md-padding-y);
}

.hop-Button--ghost-danger.hop-Button--sm:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-ghost-danger-sm-padding-x);
    --padding-block: var(--hop-Button-ghost-danger-sm-padding-y);
}

.hop-Button--ghost-secondary.hop-Button--md:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-ghost-secondary-md-padding-x);
    --padding-block: var(--hop-Button-ghost-secondary-md-padding-y);
}

.hop-Button--ghost-secondary.hop-Button--sm:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-ghost-secondary-sm-padding-x);
    --padding-block: var(--hop-Button-ghost-secondary-sm-padding-y);
}

.hop-Button--ghost-primary.hop-Button--md:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-ghost-primary-md-padding-x);
    --padding-block: var(--hop-Button-ghost-primary-md-padding-y);
}

.hop-Button--ghost-primary.hop-Button--sm:not(.hop-Button--icon-only) {
    --padding-inline: var(--hop-Button-ghost-primary-sm-padding-x);
    --padding-block: var(--hop-Button-ghost-primary-sm-padding-y);
}

/** Variants */
.hop-Button--primary {
    --background-color: var(--hop-Button-primary-background-color);
    --color: var(--hop-Button-primary-color);
    --border: var(--hop-Button-primary-border);
    --spinner-color: var(--hop-Button-primary-spinner-color);
}

.hop-Button--primary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-primary-background-color-disabled);
    --color: var(--hop-Button-primary-color-disabled);
    --border: var(--hop-Button-primary-border-disabled);
}

.hop-Button--primary[data-hovered]:not([data-disabled], [data-loading]),
.hop-Button--primary[data-focus-visible]:not([data-disabled], [data-loading])
 {
    --background-color: var(--hop-Button-primary-background-color-hover);
    --color: var(--hop-Button-primary-color-hover);
    --border: var(--hop-Button-primary-border-hover);
}

.hop-Button--primary[data-pressed]:not([data-loading]) {
    --background-color: var(--hop-Button-primary-background-color-pressed);
    --color: var(--hop-Button-primary-color-pressed);
    --border: var(--hop-Button-primary-border-pressed);
}

.hop-Button--secondary {
    --background-color: var(--hop-Button-secondary-background-color);
    --color: var(--hop-Button-secondary-color);
    --border: var(--hop-Button-secondary-border);
    --spinner-color: var(--hop-Button-secondary-spinner-color);
}

.hop-Button--secondary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-secondary-background-color-disabled);
    --color: var(--hop-Button-secondary-color-disabled);
    --border: var(--hop-Button-secondary-border-disabled);
}

.hop-Button--secondary[data-hovered]:not([data-disabled], [data-loading]),
.hop-Button--secondary[data-focus-visible]:not([data-disabled], [data-loading]) {
    --background-color: var(--hop-Button-secondary-background-color-hover);
    --color: var(--hop-Button-secondary-color-hover);
    --border: var(--hop-Button-secondary-border-hover);
}

.hop-Button--secondary[data-pressed]:not([data-loading]) {
    --background-color: var(--hop-Button-secondary-background-color-pressed);
    --color: var(--hop-Button-secondary-color-pressed);
    --border: var(--hop-Button-secondary-border-pressed);
}

.hop-Button--upsell {
    --background-color: var(--hop-Button-upsell-background-color);
    --color: var(--hop-Button-upsell-color);
    --border: var(--hop-Button-upsell-border);
    --spinner-color: var(--hop-Button-upsell-spinner-color);
}

.hop-Button--upsell[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-upsell-background-color-disabled);
    --color: var(--hop-Button-upsell-color-disabled);
    --border: var(--hop-Button-upsell-border-disabled);
}

.hop-Button--upsell[data-hovered]:not([data-disabled], [data-loading]),
.hop-Button--upsell[data-focus-visible]:not([data-disabled], [data-loading]) {
    --background-color: var(--hop-Button-upsell-background-color-hover);
    --color: var(--hop-Button-upsell-color-hover);
    --border: var(--hop-Button-upsell-border-hover);
}

.hop-Button--upsell[data-pressed]:not([data-loading]) {
    --background-color: var(--hop-Button-upsell-background-color-pressed);
    --color: var(--hop-Button-upsell-color-pressed);
    --border: var(--hop-Button-upsell-border-pressed);
}

.hop-Button--danger {
    --background-color: var(--hop-Button-danger-background-color);
    --color: var(--hop-Button-danger-color);
    --border: var(--hop-Button-danger-border);
    --spinner-color: var(--hop-Button-danger-spinner-color);
}

.hop-Button--danger[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-danger-background-color-disabled);
    --color: var(--hop-Button-danger-color-disabled);
    --border: var(--hop-Button-danger-border-disabled);
}

.hop-Button--danger[data-hovered]:not([data-disabled], [data-loading]),
.hop-Button--danger[data-focus-visible]:not([data-disabled], [data-loading]) {
    --background-color: var(--hop-Button-danger-background-color-hover);
    --color: var(--hop-Button-danger-color-hover);
    --border: var(--hop-Button-danger-border-hover);
}

.hop-Button--danger[data-pressed]:not([data-loading]) {
    --background-color: var(--hop-Button-danger-background-color-pressed);
    --color: var(--hop-Button-danger-color-pressed);
    --border: var(--hop-Button-danger-border-pressed);
}

.hop-Button--ghost-primary {
    --background-color: var(--hop-Button-ghost-primary-background-color);
    --color: var(--hop-Button-ghost-primary-color);
    --border: var(--hop-Button-ghost-primary-border);
    --spinner-color: var(--hop-Button-ghost-primary-spinner-color);
}

.hop-Button--ghost-primary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-ghost-primary-background-color-disabled);
    --color: var(--hop-Button-ghost-primary-color-disabled);
    --border: var(--hop-Button-ghost-primary-border-disabled);
}

.hop-Button--ghost-primary[data-hovered]:not([data-disabled], [data-loading]),
.hop-Button--ghost-primary[data-focus-visible]:not([data-disabled], [data-loading]) {
    --background-color: var(--hop-Button-ghost-primary-background-color-hover);
    --color: var(--hop-Button-ghost-primary-color-hover);
    --border: var(--hop-Button-ghost-primary-border-hover);
}

.hop-Button--ghost-primary[data-pressed]:not([data-loading]) {
    --background-color: var(--hop-Button-ghost-primary-background-color-pressed);
    --color: var(--hop-Button-ghost-primary-color-pressed);
    --border: var(--hop-Button-ghost-primary-border-pressed);
}

.hop-Button--ghost-secondary {
    --background-color: var(--hop-Button-ghost-secondary-background-color);
    --color: var(--hop-Button-ghost-secondary-color);
    --border: var(--hop-Button-ghost-secondary-border);
    --spinner-color: var(--hop-Button-ghost-secondary-spinner-color);
}

.hop-Button--ghost-secondary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-ghost-secondary-background-color-disabled);
    --color: var(--hop-Button-ghost-secondary-color-disabled);
    --border: var(--hop-Button-ghost-secondary-border-disabled);
}

.hop-Button--ghost-secondary[data-hovered]:not([data-disabled], [data-loading]),
.hop-Button--ghost-secondary[data-focus-visible]:not([data-disabled], [data-loading]) {
    --background-color: var(--hop-Button-ghost-secondary-background-color-hover);
    --color: var(--hop-Button-ghost-secondary-color-hover);
    --border: var(--hop-Button-ghost-secondary-border-hover);
}

.hop-Button--ghost-secondary[data-pressed]:not([data-loading]) {
    --background-color: var(--hop-Button-ghost-secondary-background-color-pressed);
    --color: var(--hop-Button-ghost-secondary-color-pressed);
    --border: var(--hop-Button-ghost-secondary-border-pressed);
}

.hop-Button--ghost-danger {
    --background-color: var(--hop-Button-ghost-danger-background-color);
    --color: var(--hop-Button-ghost-danger-color);
    --border: var(--hop-Button-ghost-danger-border);
    --spinner-color: var(--hop-Button-ghost-danger-spinner-color);
}

.hop-Button--ghost-danger[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-Button-ghost-danger-background-color-disabled);
    --color: var(--hop-Button-ghost-danger-color-disabled);
    --border: var(--hop-Button-ghost-danger-border-disabled);
}

.hop-Button--ghost-danger[data-hovered]:not([data-disabled], [data-loading]),
.hop-Button--ghost-danger[data-focus-visible]:not([data-disabled], [data-loading]) {
    --background-color: var(--hop-Button-ghost-danger-background-color-hover);
    --color: var(--hop-Button-ghost-danger-color-hover);
    --border: var(--hop-Button-ghost-danger-border-hover);
}

.hop-Button--ghost-danger[data-pressed]:not([data-loading]) {
    --background-color: var(--hop-Button-ghost-danger-background-color-pressed);
    --color: var(--hop-Button-ghost-danger-color-pressed);
    --border: var(--hop-Button-ghost-danger-border-pressed);
}

/** Elements */
.hop-Button__Spinner {
    position: absolute;
    justify-self: center;
    color: var(--spinner-color)
}

.hop-Button__icon,
.hop-Button__icon-list {
    grid-area: start-icon;
    justify-self: end;
}

.hop-Button__text {
    user-select: none;

    overflow: visible;
    grid-area: content;

    font-weight: var(--hop-font-weight-505);
    text-wrap: nowrap;
}

.hop-Button--ghost-primary[data-hovered]:not([data-loading]) .hop-Button__text,
.hop-Button--ghost-secondary[data-hovered]:not([data-loading]) .hop-Button__text,
.hop-Button--ghost-danger[data-hovered]:not([data-loading]) .hop-Button__text,
.hop-Button--ghost-primary[data-focus-visible]:not([data-loading]) .hop-Button__text,
.hop-Button--ghost-secondary[data-focus-visible]:not([data-loading]) .hop-Button__text,
.hop-Button--ghost-danger[data-focus-visible]:not([data-loading]) .hop-Button__text {
    text-decoration: underline;
    text-underline-offset: 0.125rem;
}

.hop-Button__end-icon,
.hop-Button__end-icon-list {
    grid-area: end-icon;
}

.hop-Button .hop-Button__icon-list,
.hop-Button .hop-Button__end-icon-list {
    flex-wrap: nowrap;
}

/* Keep element present to:
 - allows screen readers to read the content
 - preserve the button's size
*/
.hop-Button[data-loading] > *:not(.hop-Button__Spinner) {
    opacity: 0;
}
