.hop-ClearButton {
    --hop-ClearButton-border-radius: var(--hop-shape-rounded-md);
    --hop-ClearButton-focus-ring-color: var(--hop-primary-border-focus);
    --hop-ClearButton-color: var(--hop-neutral-icon-weak);
    --hop-ClearButton-color-hover: var(--hop-neutral-icon-weak-hover);
    --hop-ClearButton-color-pressed: var(--hop-neutral-icon-weak-press);
    --hop-ClearButton-color-disabled: var(--hop-neutral-icon-disabled);
    --hop-ClearButton-effect-background-color: transparent;
    --hop-ClearButton-effect-background-color-hover: var(--hop-neutral-surface-weak-hover);
    --hop-ClearButton-effect-background-color-pressed: var(--hop-neutral-surface-weak-press);
    --hop-ClearButton-effect-background-color-disabled: transparent;
    --hop-ClearButton-effect-border-radius: var(--hop-shape-circle);

    /* Medium */
    --hop-ClearButton-md-height: 1.5rem;
    --hop-ClearButton-md-width: 1.5rem;
    --hop-ClearButton-md-effect-height: 1rem;
    --hop-ClearButton-md-effect-width: 1rem;

    /* Large */
    --hop-ClearButton-lg-height: 1.5rem;
    --hop-ClearButton-lg-width: 1.5rem;
    --hop-ClearButton-lg-effect-height: 1.5rem;
    --hop-ClearButton-lg-effect-width: 1.5rem;


    /* Internal variable */
    --spinner: var(--hop-primary-icon-strong);
    --padding-inline: 0;
    --padding-block: 0;
    --effect-background-color: var(--hop-ClearButton-effect-background-color);
    --color: var(--hop-ClearButton-color);
    --spinner-color: var(--hop-ClearButton-spinner-color);
    --transition: var(--hop-easing-duration-2) var(--hop-easing-productive);
    --effect-border-radius: var(--hop-ClearButton-effect-border-radius);
    --focus-ring-size: 0.125rem;

    /** styles */
    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: flex;
    column-gap: var(--hop-space-inline-xs);
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    inline-size: var(--inline-size);
    block-size: var(--block-size);
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);

    color: var(--color);
    text-decoration: none;
    white-space: nowrap;

    background: none;
    border: none;
    border-radius: var(--hop-ClearButton-border-radius);
    outline: none;

    transition: color var(--transition);
}

.hop-ClearButton::before {
    content: '';

    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);

    display: block;

    inline-size: var(--effect-inline-size);
    block-size: var(--effect-block-size);

    background-color: var(--effect-background-color);
    border-radius: var(--effect-border-radius);

    transition: background-color var(--transition);
}

.hop-ClearButton--md {
    --inline-size: var(--hop-ClearButton-md-width);
    --block-size: var(--hop-ClearButton-md-height);
    --focus-ring-offset: -0.125rem;
}

.hop-ClearButton--lg {
    --inline-size: var(--hop-ClearButton-lg-width);
    --block-size: var(--hop-ClearButton-lg-height);
    --focus-ring-offset: 0;
}

.hop-ClearButton--md::before {
    --effect-inline-size: var(--hop-ClearButton-md-effect-width);
    --effect-block-size: var(--hop-ClearButton-md-effect-height);

}

.hop-ClearButton--lg::before {
    --effect-inline-size: var(--hop-ClearButton-lg-effect-width);
    --effect-block-size: var(--hop-ClearButton-lg-effect-height);
}

/* Focus Ring */
.hop-ClearButton[data-focus-visible] {
    outline: var(--focus-ring-size) solid var(--hop-ClearButton-focus-ring-color);
    outline-offset: var(--focus-ring-offset);
}

.hop-ClearButton[data-disabled] {
    --effect-background-color: var(--hop-ClearButton-effect-background-color-disabled);
    --color: var(--hop-ClearButton-color-disabled);

    cursor: not-allowed;
}

.hop-ClearButton[data-hovered]:not([data-disabled]),
.hop-ClearButton[data-focus-visible]:not([data-disabled]) {
    --effect-background-color: var(--hop-ClearButton-effect-background-color-hover);
    --color: var(--hop-ClearButton-color-hover);
}

.hop-ClearButton[data-pressed]:not([data-disabled]) {
    --effect-background-color: var(--hop-ClearButton-effect-background-color-pressed);
    --color: var(--hop-ClearButton-color-pressed);
}

.hop-ClearButton__icon {
    position: relative;
}