.hop-icon-button {
    --hop-icon-button-component-border-radius: var(--hop-shape-rounded-md);
    --hop-icon-button-component-focus-ring-color: var(--hop-primary-surface-hover); /* TODO: place to centralize tokens like this? */
    --hop-icon-button-component-md-height: 2.5rem;
    --hop-icon-button-component-sm-height: 2rem;

    /* Primary */
    --hop-icon-button-component-primary-color: var(--hop-primary-text-strong);
    --hop-icon-button-component-primary-color-hover: var(--hop-primary-text-strong-hover);
    --hop-icon-button-component-primary-color-pressed: var(--hop-primary-text-active);
    --hop-icon-button-component-primary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-icon-button-component-primary-background-color: var(--hop-primary-surface-strong);
    --hop-icon-button-component-primary-background-color-hover: var(--hop-primary-surface-hover);
    --hop-icon-button-component-primary-background-color-pressed: var(--hop-primary-surface-active);
    --hop-icon-button-component-primary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-icon-button-component-primary-border: 0;
    --hop-icon-button-component-primary-border-hover: 0;
    --hop-icon-button-component-primary-border-pressed: 0;
    --hop-icon-button-component-primary-border-disabled: 0;

    /* Secondary */
    --hop-icon-button-component-secondary-color: var(--hop-neutral-text);
    --hop-icon-button-component-secondary-color-hover: var(--hop-neutral-text-hover);
    --hop-icon-button-component-secondary-color-pressed: var(--hop-neutral-text-active);
    --hop-icon-button-component-secondary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-icon-button-component-secondary-background-color: var(--hop-neutral-surface);
    --hop-icon-button-component-secondary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-icon-button-component-secondary-background-color-pressed: var(--hop-neutral-surface-active);
    --hop-icon-button-component-secondary-background-color-disabled: var(--hop-neutral-surface-disabled);
    --hop-icon-button-component-secondary-border: 0.0625rem solid var(--hop-neutral-border-strong);
    --hop-icon-button-component-secondary-border-hover: 0.0625rem solid var(--hop-neutral-border-strong);
    --hop-icon-button-component-secondary-border-pressed: 0.0625rem solid var(--hop-neutral-border-active);
    --hop-icon-button-component-secondary-border-disabled: 0;

    /* Tertiary */
    --hop-icon-button-component-tertiary-color: var(--hop-neutral-text);
    --hop-icon-button-component-tertiary-color-hover: var(--hop-neutral-text-hover);
    --hop-icon-button-component-tertiary-color-pressed: var(--hop-neutral-text);
    --hop-icon-button-component-tertiary-color-disabled: var(--hop-neutral-text-disabled);
    --hop-icon-button-component-tertiary-background-color: var(--hop-neutral-surface);
    --hop-icon-button-component-tertiary-background-color-hover: var(--hop-neutral-surface-hover);
    --hop-icon-button-component-tertiary-background-color-pressed: var(--hop-neutral-surface-weak-active);
    --hop-icon-button-component-tertiary-background-color-disabled: var(--hop-neutral-surface);
    --hop-icon-button-component-tertiary-border: 0;
    --hop-icon-button-component-tertiary-border-hover: 0;
    --hop-icon-button-component-tertiary-border-pressed: 0;
    --hop-icon-button-component-tertiary-border-disabled: 0;

    /* Internal variable */
    --block-size: var(--hop-icon-button-component-md-height);
    --background-color: var(--hop-primary-surface-strong);
    --color: var(--hop-primary-text-strong);
    --border: 0;

    /** styles */
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding: var(--padding);
    border-radius: var(--hop-icon-button-component-border-radius);
    outline: none;
    outline-offset: 0.125rem;
    transition:/* TODO: create transition for components */
        color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
        background-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
        border 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    block-size: var(--block-size);
    inline-size: min-content;
    aspect-ratio: 1;
    background-color: var(--background-color);
    color: var(--color);
    border: var(--border);
    align-items:center;
    justify-content: center;
}

.hop-icon-button[data-disabled] {
    cursor: not-allowed;
}

.hop-icon-button[data-focus-visible] {
    outline: 0.125rem solid var(--hop-icon-button-component-focus-ring-color);
}

.hop-icon-button--sm {
    --block-size: var(--hop-icon-button-component-sm-height);
}

.hop-icon-button--primary {
    --background-color: var(--hop-icon-button-component-primary-background-color);
    --color: var(--hop-icon-button-component-primary-color);
    --border: var(--hop-icon-button-component-primary-border);
}

.hop-icon-button--primary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-icon-button-component-primary-background-color-disabled);
    --color: var(--hop-icon-button-component-primary-color-disabled);
    --border: var(--hop-icon-button-component-primary-border-disabled);
}

.hop-icon-button--primary[data-hovered] {
    --background-color: var(--hop-icon-button-component-primary-background-color-hover);
    --color: var(--hop-icon-button-component-primary-color-hover);
    --border: var(--hop-icon-button-component-primary-border-hover);
}

.hop-icon-button--primary[data-pressed] {
    --background-color: var(--hop-icon-button-component-primary-background-color-pressed);
    --color: var(--hop-icon-button-component-primary-color-pressed);
    --border: var(--hop-icon-button-component-primary-border-pressed);
}

.hop-icon-button--secondary {
    --background-color: var(--hop-icon-button-component-secondary-background-color);
    --color: var(--hop-icon-button-component-secondary-color);
    --border: var(--hop-icon-button-component-secondary-border);
}

.hop-icon-button--secondary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-icon-button-component-secondary-background-color-disabled);
    --color: var(--hop-icon-button-component-secondary-color-disabled);
    --border: var(--hop-icon-button-component-secondary-border-disabled);
}

.hop-icon-button--secondary[data-hovered] {
    --background-color: var(--hop-icon-button-component-secondary-background-color-hover);
    --color: var(--hop-icon-button-component-secondary-color-hover);
    --border: var(--hop-icon-button-component-secondary-border-hover);
}

.hop-icon-button--secondary[data-pressed] {
    --background-color: var(--hop-icon-button-component-secondary-background-color-pressed);
    --color: var(--hop-icon-button-component-secondary-color-pressed);
    --border: var(--hop-icon-button-component-secondary-border-pressed);
}

.hop-icon-button--tertiary {
    --background-color: var(--hop-icon-button-component-tertiary-background-color);
    --color: var(--hop-icon-button-component-tertiary-color);
    --border: var(--hop-icon-button-component-tertiary-border);
}

.hop-icon-button--tertiary[data-disabled]:not([data-loading]) {
    --background-color: var(--hop-icon-button-component-tertiary-background-color-disabled);
    --color: var(--hop-icon-button-component-tertiary-color-disabled);
    --border: var(--hop-icon-button-component-tertiary-border-disabled);
}

.hop-icon-button--tertiary[data-hovered] {
    --background-color: var(--hop-icon-button-component-tertiary-background-color-hover);
    --color: var(--hop-icon-button-component-tertiary-color-hover);
    --border: var(--hop-icon-button-component-tertiary-border-hover);
}

.hop-icon-button--tertiary[data-pressed] {
    --background-color: var(--hop-icon-button-component-tertiary-background-color-pressed);
    --color: var(--hop-icon-button-component-tertiary-color-pressed);
    --border: var(--hop-icon-button-component-tertiary-border-pressed);
}

.hop-icon-button__Spinner {
    position: absolute;
    justify-self: center;
    color: var(--color)
}

/* Keep element present to:
 - allows screen readers to read the content
 - preserve the button's size
*/
.hop-icon-button[data-loading] > *:not(.hop-icon-button__Spinner) {
    opacity: 0;
}
