.hop-ListBox  {
    /* Default */
    --hop-ListBox-background-color: var(--hop-neutral-surface);
    --hop-ListBox-border-color: var(--hop-neutral-border-weak);
    --hop-ListBox-border-radius: var(--hop-shape-rounded-md);
    --hop-ListBox-border-size: 0.0625rem;
    --hop-ListBox-padding-inline: var(--hop-space-inset-sm);
    --hop-ListBox-padding-block: var(--hop-space-inset-sm);
    --hop-ListBox-min-width: 13.6rem;
    --hop-ListBox-max-width: 18rem;
    --hop-ListBox-width: max-content;

    /* Fluid */
    --hop-ListBox-fluid-width: 100%;
    --hop-ListBox-fluid-max-width: 100%;

    /* Section */
    --hop-ListBox-section-padding-block: var(--hop-ListBox-padding-block);
    --hop-ListBox-section-margin-block: var(--hop-space-stack-sm);
    --hop-ListBox-section-border-size: var(--hop-ListBox-border-size);
    --hop-ListBox-section-border-color: var(--hop-ListBox-border-color); 

    /* Section Header */
    --hop-ListBox-section-header-font-family: var(--hop-overline-font-family);
    --hop-ListBox-section-header-font-size: var(--hop-overline-font-size);
    --hop-ListBox-section-header-font-weight: var(--hop-overline-font-weight);
    --hop-ListBox-section-header-letter-spacing: 0.015rem;
    --hop-ListBox-section-header-line-height: var(--hop-overline-line-height);
    --hop-ListBox-section-header-text-transform: uppercase;
    --hop-ListBox-section-header-padding: var(--hop-space-inset-stretch-sm);
    --hop-ListBox-section-header-top-offset: var(--hop-overline-top-offset);
    --hop-ListBox-section-header-bottom-offset: var(--hop-overline-bottom-offset);

    /* Divider */
    --hop-ListBox-divider-margin-block: var(--hop-space-stack-sm);

    /* Internal Variables */
    --max-width: var(--hop-ListBox-max-width);
    --width: var(--hop-ListBox-width);
    --section-padding-block-start: var(--hop-ListBox-section-padding-block);
    --section-padding-block-end: var(--hop-ListBox-section-padding-block);
    --section-margin-block-start: 0;
    --section-margin-block-end: 0;
    --section-border-block-start: 0;
    --section-border-block-end: var(--hop-ListBox-section-border-size) solid var(--hop-ListBox-section-border-color);

    overflow-y: auto;

    box-sizing: border-box;
    inline-size: var(--width);
    min-inline-size: var(--hop-ListBox-min-width);
    max-inline-size: var(--max-width);
    padding-block: var(--hop-ListBox-padding-block);
    padding-inline: var(--hop-ListBox-padding-inline);

    border: var(--hop-ListBox-border-size) solid var(--hop-ListBox-border-color);
    border-radius: var(--hop-ListBox-border-radius);
}

.hop-ListBox--fluid {
    --max-width: var(--hop-ListBox-fluid-max-width);
    --width: var(--hop-ListBox-fluid-width);
}

.hop-ListBox__section {
    margin-block: var(--section-margin-block-start) var(--section-margin-block-end);
    padding-block: var(--section-padding-block-start) var(--section-padding-block-end);
    border-block-start: var(--section-border-block-start);
    border-block-end: var(--section-border-block-end);
}

/* Select section that follows an item */
.hop-ListBox__item + .hop-ListBox__section {
    --section-margin-block-start: var(--hop-ListBox-section-margin-block);
    --section-border-block-start: var(--hop-ListBox-section-border-size) solid var(--hop-ListBox-section-border-color); 
}

/* Select section that has an item right after */
.hop-ListBox__section:has(+ .hop-ListBox__item) {
    --section-margin-block-end: var(--hop-ListBox-section-margin-block);
}

.hop-ListBox__section:first-child {
    --section-padding-block-start: 0;
}

.hop-ListBox__section:last-child {
    --section-padding-block-end: 0;
    --section-border-block-end: 0;
}

.hop-ListBox__section-header {
    margin: 0;
    padding: var(--hop-ListBox-section-header-padding);

    font-family: var(--hop-ListBox-section-header-font-family);
    font-size: var(--hop-ListBox-section-header-font-size);
    font-weight: var(--hop-ListBox-section-header-font-weight);
    line-height: var(--hop-ListBox-section-header-line-height);
    text-transform: var(--hop-ListBox-section-header-text-transform);
    letter-spacing: var(--hop-ListBox-section-header-letter-spacing);
}

.hop-ListBox__section-header::before,
.hop-ListBox__section-header::after {
    content: "";

    display: block;

    box-sizing: border-box;
    inline-size: 0;
    block-size: 0;
}

.hop-ListBox__section-header::before {
    /* -0.125rem */
    margin-block-end: var(--hop-ListBox-section-header-bottom-offset);
}

.hop-ListBox__section-header::after {
    /* -0.25rem */
    margin-block-start: var(--hop-ListBox-section-header-top-offset);
}

.hop-ListBox__divider {
    margin-block: var(--hop-ListBox-divider-margin-block);
}
