.hd-layout__wrapper {
    width: min(100% - 1rem, var(--layout-width));
    margin-inline: auto;
}

.hd-layout__fluid {
    padding-inline: var(--hd-space-1);
}

.hd-layout__with-sidebar {
    @media screen and (width >= 48rem) {
        display: grid;
        grid-template-columns: var(--nav-width) minmax(0, 1fr);
        gap: var(--hd-space-4);
        padding-inline: var(--hd-space-2);
    }
}
