.hd-layout__wrapper {
    width: min(100% - 2rem, var(--layout-width));
    margin-inline: auto;
}

.hd-layout__fluid {
    padding-inline: var(--hd-space-2);
}

.hd-layout__with-sidebar {
    @media screen and (width >= 37.5rem) {
        padding-inline: var(--hd-space-2);
    }

    @media screen and (width >= 48rem) {
        display: grid;
        grid-template-columns: var(--nav-width) 1fr;
        gap: var(--hd-space-4);
    }
}
