:root {
    --hd-header-font-family: var(--hd-default-font-family);
    --hd-header-background-color: rgb(252 251 251 / 50%);
    --hd-header-border-color: var(--hd-color-neutral-border-weak);
    --hd-header-height: var(--hd-space-8);
}

[data-theme="dark"] {
    --hd-header-background-color: rgb(41 40 41 / 80%);
}

.hd-header {
    display: flex;
    align-items: center;
    font-family: var(--hd-header-font-family);
    height: var(--hd-header-height);
    background-color: var(--hd-header-background-color);
    backdrop-filter: blur(1rem);
    border-block-end: var(--hd-border-size) solid var(--hd-header-border-color);
    z-index: 1;
}

@media screen and (width >= 48rem) {
    .hd-header {
        position: sticky;
        top: 0;
    }
}

.hd-header__nav {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    gap: var(--hd-space-6);
}

.hd-brand {
    display: flex;
}

.hd-brand__logo {
    fill: var(--hd-color-neutral-icon);
}

.hd-header__quick-actions {
    display: none;
    gap: var(--hd-space-1);
}

@media screen and (width >= 37.5rem) {
    .hd-header__quick-actions {
        display: flex;
    }
}

.hd-header__mobile-menu-trigger {
    display: block;
}

@media screen and (width >= 37.5rem) {
    .hd-header__mobile-menu-trigger {
        display: none;
    }
}

/* Stylistic Gradient */
.hd-header__shadow {
    pointer-events: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: -1;
    top: -18.75rem;
    max-width: 100%;
}

.hd-header-shadow-block {
    position: relative;
    border-radius: var(--hd-space-7);
    filter: blur(13.5rem);

    /* prevents an issue in Safari where the blur wasn't visible */
    transform: translate3d(0, 0, 0);
}

.hd-header-shadow-block-1 {
    background-color: #AFB6E1;
    width: 32rem;
    height: 32rem;
    top: -18.75rem;
    right: 6rem;
}

.hd-header-shadow-block-2 {
    width: 40rem;
    height: 40rem;
    background-color: #FECD94;
    filter: blur(12.5rem);
    top: -31.25rem;
}

.hd-header-shadow-block-3 {
    background-color: #A9F1D6;
    width: 32rem;
    height: 32rem;
    top: -24rem;
    left: -10.5rem;
}
