.hd-iconButton {
    width: var(--hd-space-4);
    aspect-ratio: 1/1;
    background-color: var(--hd-primary-0);
    color: var(--hd-primary-800);
    border-width: 0;
    border-radius: var(--hd-space-05);
}

.hd-iconButton:hover {
    background-color: var(--hd-primary-200);
    cursor: pointer;
}