.hd-iconButton {
    width: var(--space-4);
    aspect-ratio: 1/1;
    background-color: var(--primary-0);
    color: var(--primary-800);
    border-width: 0;
    border-radius: var(--space-05);
}

.hd-iconButton:hover {
    background-color: var(--primary-200);
    cursor: pointer;
}