.hd-aside {
    display: none;
    flex-direction: column;
    user-select: none;
    order: 1;
    padding-block-start: var(--hd-space-8);
}

@media screen and (width >= 48rem) {
    .hd-aside {
        display: flex;
        padding-block-start: var(--hd-space-8);
    }
}

@media screen and (width >= 62rem) {
    .hd-aside {
        order: 2;
        padding-block: var(--hd-space-8);
        flex-basis: 10rem;
        flex-shrink: 0;
        position: sticky;
        top: var(--hd-space-8);
        height: calc(100vh - var(--hd-space-8));
    }
}

.hd-aside__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    gap: var(--hd-space-05);
    position: relative;
    margin-block-start: var(--hd-space-1);
}

.hd-aside__list--opened {
    display: flex;
}

.hd-aside__list--closed {
    display: none;
}

@media screen and (width >= 62rem) {
    .hd-aside__list {
        margin-block-start: 0;

        /* making sure that if a user toggles the list and resize his browser the list is still visible */

        /* We could do this in JS but I think that fixes the issue */
        display: flex!important;
    }

    .hd-aside__list--closed {
        display: flex;
    }
}

.hd-aside__list::before {
    position: absolute;
    content: "";
    display: block;
    width: var(--hd-border-size);
    height: 100%;
    left: 0;
    border-inline-start: var(--hd-border-size) solid var(--hd-color-neutral-border);
}

.hd-aside__link {
    line-height: 1;
}

.hd-aside__link:hover {
    color: var(--hd-color-primary-text);
}

.hd-aside__title {
    display: none;
    font-size: 0.875rem;
    font-weight: 600;
    margin-block-end: var(--hd-space-1);
    color: var(--hd-color-neutral-text);
}

@media screen and (width >= 62rem) {
    .hd-aside__title {
        display: flex;
    }
}

.hd-aside__item {
    font-size: 0.875rem;
    height: var(--hd-space-3);
    display: flex;
    align-items: center;
    position: relative;
    border-inline-start: var(--hd-border-size) solid transparent;
    padding-inline-start: var(--hd-space-1);
}

.hd-aside__marker {
    height: var(--hd-space-3);
    width: var(--hd-border-size);
    background-color: var(--hd-color-primary-border);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: var(--hd-space-1);
    transition: top .25s cubic-bezier(0,1,.5,1);
    display: none;
}

@media screen and (width >= 62rem) {
    .hd-aside__marker {
        display: block;
    }
}

.hd-aside__list:not(:has(.hd-aside__item)) .hd-aside__marker {
    display: none;
}

/* Toggle Aside Button */
.hd-aside__button {
    background-color: transparent;
    border: var(--hd-border-size) solid var(--hd-color-neutral-border);
    border-radius: var(--hd-space-1);
    color: var(--hd-color-neutral-text-weak);
    cursor: pointer;
    padding-inline: var(--hd-space-2);
    height: var(--hd-space-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--hd-space-05);
    fill: var(--hd-color-neutral-icon);
}

.hd-aside__button:hover {
    color: var(--hd-color-neutral-text-weak-hover);
}

@media screen and (width >= 62rem) {
    .hd-aside__button {
        display: none;
    }
}

.hd-aside__button-icon path {
    stroke: var(--hd-color-neutral-icon-weak);
}

.hd-aside__button:hover .hd-aside__button-icon path {
    stroke: var(--hd-color-neutral-icon-weak-hover);
}
