.hop-RadioGroup  {
    /* Default */
    --hop-RadioGroup-align-items: flex-start;
    --hop-RadioGroup-justify-content: flex-start;

    /* Bordered */
    --hop-RadioGroup-bordered-border-color: var(--hop-neutral-border-weak);

    /* Small */
    --hop-RadioGroup-sm-column-gap: var(--hop-space-inline-sm);
    --hop-RadioGroup-sm-row-gap: var(--hop-space-stack-sm);
    --hop-RadioGroup-list-sm-column-gap: var(--hop-space-inline-sm);
    --hop-RadioGroup-list-sm-row-gap: var(--hop-space-stack-sm);
    --hop-RadioGroup-bordered-sm-padding: var(--hop-space-inset-sm);
    --hop-RadioGroup-bordered-sm-column-gap: var(--hop-space-inline-sm);
    --hop-RadioGroup-bordered-sm-row-gap: var(--hop-space-stack-sm);
    --hop-RadioGroup-list-bordered-sm-column-gap: 0;
    --hop-RadioGroup-list-bordered-sm-row-gap: 0;

    /* Medium */
    --hop-RadioGroup-md-column-gap: var(--hop-space-inline-md);
    --hop-RadioGroup-md-row-gap: var(--hop-space-stack-md);
    --hop-RadioGroup-list-md-column-gap: var(--hop-space-inline-md);
    --hop-RadioGroup-list-md-row-gap: var(--hop-space-stack-md);
    --hop-RadioGroup-bordered-md-padding: var(--hop-space-inset-md);
    --hop-RadioGroup-bordered-md-column-gap: var(--hop-space-inline-sm);
    --hop-RadioGroup-bordered-md-row-gap: var(--hop-space-stack-sm);
    --hop-RadioGroup-list-bordered-md-column-gap: 0;
    --hop-RadioGroup-list-bordered-md-row-gap: 0;

    /* Vertical */
    --hop-RadioGroup-vertical-flex-direction: column;

    /* Horizontal */
    --hop-RadioGroup-horizontal-flex-direction: row;

    /* Internal variable */
    --radio-border-size: 0.0625rem;
    --radio-border-color: var(--hop-neutral-border-weak);
    --flex-direction: var(--hop-RadioGroup-vertical-flex-direction);
    --align-items: var(--hop-RadioGroup-align-items);
    --justify-content: var(--hop-RadioGroup-justify-content);
    --flex-wrap: wrap;
    --inline-size: max-content;

    display: flex;
    flex-direction: column;
    gap: var(--row-gap, var(--hop-space-stack-md)) var(--column-gap, var(--hop-space-inline-md));
    align-items: var(--align-items);
    justify-content: var(--justify-content);

    box-sizing: border-box;
    inline-size: var(--inline-size);
    max-inline-size: 100%;
}

.hop-RadioGroup--bordered {
    --list-border: var(--radio-border-size) solid var(--radio-border-color);
    --list-border-radius: var(--hop-shape-rounded-md);
}

.hop-RadioGroup--sm {
    --column-gap: var(--hop-RadioGroup-sm-column-gap);
    --row-gap: var(--hop-RadioGroup-sm-row-gap);
    --list-column-gap: var(--hop-RadioGroup-list-sm-column-gap);
    --list-row-gap: var(--hop-RadioGroup-list-sm-row-gap);
}

.hop-RadioGroup--md {
    --column-gap: var(--hop-RadioGroup-md-column-gap);
    --row-gap: var(--hop-RadioGroup-md-row-gap);
    --list-column-gap: var(--hop-RadioGroup-list-md-column-gap);
    --list-row-gap: var(--hop-RadioGroup-list-md-row-gap);
}

.hop-RadioGroup--bordered.hop-RadioGroup--sm {
    --radio-padding: var(--hop-RadioGroup-bordered-sm-padding);
    --column-gap: var(--hop-RadioGroup-bordered-sm-column-gap);
    --row-gap: var(--hop-RadioGroup-bordered-sm-row-gap);
    --list-column-gap: var(--hop-RadioGroup-list-bordered-sm-column-gap);
    --list-row-gap: var(--hop-RadioGroup-list-bordered-sm-row-gap);
}

.hop-RadioGroup--bordered.hop-RadioGroup--md {
    --radio-padding: var(--hop-RadioGroup-bordered-md-padding);
    --column-gap: var(--hop-RadioGroup-bordered-md-column-gap);
    --row-gap: var(--hop-RadioGroup-bordered-md-row-gap);
    --list-column-gap: var(--hop-RadioGroup-list-bordered-md-column-gap);
    --list-row-gap: var(--hop-RadioGroup-list-bordered-md-row-gap);
}

.hop-RadioGroup[data-orientation="horizontal"] {
    --flex-direction: var(--hop-RadioGroup-horizontal-flex-direction);
}

.hop-RadioGroup--bordered[data-orientation="horizontal"] {
    --flex-wrap: nowrap;
}

.hop-RadioGroup > .hop-RadioGroup__label {
    order: 1;
}

.hop-RadioGroup__list {
    display: flex;
    flex-flow: var(--flex-direction) var(--flex-wrap);
    gap: var(--list-row-gap, var(--hop-space-stack-md)) var(--list-column-gap, var(--hop-space-inline-md));
    order: 2;

    box-sizing: border-box;
    inline-size: var(--inline-size);
    max-inline-size: 100%;

    border: var(--list-border, none);
    border-radius: var(--list-border-radius, 0);
}

.hop-RadioGroup__list > .hop-RadioGroup__radio {
    position: relative;

    flex: 0 1 auto;
    align-content: start;

    inline-size: auto;
    min-inline-size: 0;
    padding: var(--radio-padding, 0);
}

/* All but first */
.hop-RadioGroup--bordered .hop-RadioGroup__list > .hop-RadioGroup__radio ~ .hop-RadioGroup__radio::before {
    content: "";
    position: absolute;
    display: block;
}

.hop-RadioGroup--bordered[data-orientation="vertical"] .hop-RadioGroup__list > .hop-RadioGroup__radio ~ .hop-RadioGroup__radio::before {
    inset-block-start: 0;
    inset-inline: 0;
    border-block-start: var(--list-border, none);
}

.hop-RadioGroup--bordered[data-orientation="horizontal"] .hop-RadioGroup__list > .hop-RadioGroup__radio ~ .hop-RadioGroup__radio::before {
    inset-block: 0;
    inset-inline-start: 0;
    border-inline-start: var(--list-border, none);
}

.hop-RadioGroup > .hop-RadioGroup__error-message,
.hop-RadioGroup > .hop-RadioGroup__helper-message {
    order: 3;
}