.hop-Card {
    /* Default */
    --hop-Card-border-radius: var(--hop-shape-rounded-md);
    --hop-Card-border-size:  0.0625rem;
    --hop-Card-font-size: var(--hop-body-md-font-size);
    --hop-Card-font-family: var(--hop-body-md-font-family);
    --hop-Card-font-weight: var(--hop-body-md-font-weight);
    --hop-Card-line-height: var(--hop-body-md-line-height);

    /* Main */
    --hop-Card-main-border: var(--hop-Card-border-size) solid var(--hop-neutral-border-weak);
    --hop-Card-main-background-color: var(--hop-neutral-surface);

    /* Second-level */
    --hop-Card-second-level-border: var(--hop-Card-border-size) solid var(--hop-neutral-surface-weakest);
    --hop-Card-second-level-background-color: var(--hop-neutral-surface-weakest);

    display: flex;
    flex-direction: column;

    font-family: var(--hop-Card-font-family);
    font-size: var(--hop-Card-font-size);
    font-weight: var(--hop-Card-font-weight);
    line-height: var(--hop-Card-line-height);

    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--hop-Card-border-radius);

}

.hop-Card--main {
    --background-color: var(--hop-Card-main-background-color);
    --border: var(--hop-Card-main-border);
}

.hop-Card--second-level {
    --background-color: var(--hop-Card-second-level-background-color);
    --border: var(--hop-Card-second-level-border);
}
