# Chromatic Main and Active PRs only
# Trigger example found here: https://github.com/chromaui/chromatic-cli/blob/main/.github/workflows/chromatic-main-and-prs.yml

name: Chromatic

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches-ignore:
      - changeset-release/*

jobs:
    chromatic:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Commit
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - uses: dorny/paths-filter@v2
              id: filter
              with:
                  base: 'main'
                  filters: |
                      storybook:
                        - '.storybook/**'
                        - 'stories/**'
                      tokens:
                        - 'packages/tokens/**'
#                      Add more package filters here

            - name: Setup Node.js
              uses: actions/setup-node@v3

            - uses: pnpm/action-setup@v2
              name: Install pnpm
              id: pnpm-install
              with:
                version: 8
                run_install: false

            - name: Get pnpm store directory
              id: pnpm-cache
              shell: bash
              run: |
                echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

            - name: Setup pnpm cache
              uses: actions/cache@v3
              with:
                path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
                key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                restore-keys: |
                  ${{ runner.os }}-pnpm-store-

            - name: Install dependencies
              run: pnpm i --frozen-lockfile

            - name: Build Packages
              run: pnpm build

            - name: Publish Tokens to Chromatic
              if: ${{ steps.filter.outputs.tokens }} == 'true' && ${{ steps.filter.outputs.chromatic }} == 'false'
              uses: chromaui/action@v1
              with:
                  projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
                  traceChanged: true
                  onlyChanged: true # TurboSnap
                  skip: ${{ github.event.pull_request.draft == true }}
                  onlyStoryFiles: "stories/tokens/**"

            - name: Publish to Chromatic
              if: ${{ steps.filter.outputs.chromatic }} == 'true'
              uses: chromaui/action@v1
              with:
                  projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
                  traceChanged: true
                  onlyChanged: true # TurboSnap
                  skip: ${{ github.event.pull_request.draft == true }}
