.hop-CharacterCount {
    --hop-CharacterCount-padding: 0 calc(var(--hop-space-inset-md) - var(--hop-space-inset-xs)) var(--hop-space-inset-xs);
    --hop-CharacterCount-color: var(--hop-neutral-text-weak);
    --hop-CharacterCount-color-disabled: var(--hop-neutral-text-disabled);
    --hop-CharacterCount-color-invalid: var(--hop-danger-text-weak);

    /* Internal Variables */
    --char-count-color: var(--hop-CharacterCount-color);

    padding: var(--hop-CharacterCount-padding);
    color: var(--char-count-color);
}

.hop-CharacterCount[data-invalid] {
    --char-count-color: var(--hop-CharacterCount-color-invalid);
}

.hop-CharacterCount[data-disabled] {
    --char-count-color: var(--hop-CharacterCount-color-disabled);
}
