.hop-PasswordField  {
    --hop-PasswordField-gap: var(--hop-space-stack-xs);
    --hop-PasswordField-inline-size: 20rem;
    --hop-PasswordField-font-family: var(--hop-heading-xs-font-family);
    --hop-PasswordField-font-size: var(--hop-heading-xs-font-size);
    --hop-PasswordField-font-weight: var(--hop-heading-xs-font-weight);
    --hop-PasswordField-line-height: var(--hop-heading-xs-line-height);
    --hop-PasswordField-color: var(--hop-neutral-text-weak);

    /* Internal Variables */
    --inline-size: var(--hop-PasswordField-inline-size);

    display: flex;
    flex-direction: column;
    gap: var(--hop-PasswordField-gap);
    inline-size: var(--inline-size);
}

.hop-PasswordField--fluid  {
    --inline-size: 100%;
}

.hop-PasswordField__Label {
    order: 0;

    font-family: var(--hop-PasswordField-font-family);
    font-size: var(--hop-PasswordField-font-size);
    font-weight: var(--hop-PasswordField-font-weight);
    line-height: var(--hop-PasswordField-line-height);
    color: var(--hop-PasswordField-color);
}

.hop-PasswordField__InputGroup {
    order:1;
    inline-size: 100%;
}

.hop-PasswordField__ErrorMessage,
.hop-PasswordField__HelperMessage {
    order: 3;
}
