.hop-PasswordField  {
    --hop-PasswordField-gap: var(--hop-space-stack-xs);
    --hop-PasswordField-inline-size: 20rem;

    /* Internal Variables */
    --inline-size: var(--hop-PasswordField-inline-size);

    display: flex;
    flex-direction: column;
    gap: var(--hop-PasswordField-gap);
    inline-size: var(--inline-size);
}

.hop-PasswordField--fluid  {
    --inline-size: 100%;
}

.hop-PasswordField__Label {
    order: 0;
}

.hop-PasswordField__InputGroup {
    order: 1;
}

.hop-PasswordField__ErrorMessage,
.hop-PasswordField__HelperMessage {
    order: 3;
}
