.hop-TextField  {
    --hop-TextField-gap: var(--hop-space-stack-xs);
    --hop-TextField-default-inline-size: 20rem;

    /* TODO */
    display: flex;
    flex-direction: column;
    gap: var(--hop-TextField-gap);
    inline-size: var(--hop-TextField-default-inline-size);
}

.hop-TextField--fluid  {
    inline-size: 100%;
}

.hop-TextField__Label {
    order: 0;

    font-family: var(--hop-heading-xs-font-family);
    font-size: var(--hop-heading-xs-font-size);
    font-weight: var(--hop-heading-xs-font-weight);
    line-height: var(--hop-heading-xs-line-height);
    color: var(--hop-neutral-text-weak);
}

.hop-TextField__prefix {
    color: var(--hop-neutral-text-weak);
}

.hop-TextField__InputGroup {
    order:1;
    inline-size: 100%;
}

.hop-TextField--clearable .hop-TextField__InputGroup {
    padding-inline-end: 0;
}

.hop-TextField__ErrorMessage,
.hop-TextField__HelperMessage {
    order: 3;
}
