.hop-TextArea  {
    --hop-TextArea-gap: var(--hop-space-stack-xs);
    --hop-TextArea-inline-size: 20rem;
    --hop-TextArea-prefix-color: var(--hop-neutral-text-weak);
    --hop-TextArea-input-padding: var(--hop-space-inset-xs) calc(var(--hop-space-inset-md) - var(--hop-space-inset-xs));
    --hop-TextArea-char-count-padding: 0 calc(var(--hop-space-inset-md) - var(--hop-space-inset-xs)) var(--hop-space-inset-xs);
    --hop-TextArea-char-count-color: var(--hop-neutral-text-weakest);
    --hop-TextArea-char-count-color-disabled: var(--hop-neutral-text-disabled);
    --hop-TextArea-char-count-color-invalid: var(--hop-danger-text-weak);
    --hop-TextArea-input-group-padding: var(--hop-space-inset-xs);

    /* Internal Variables */
    --inline-size: var(--hop-TextArea-inline-size);
    --resize: none;
    --char-count-color: var(--hop-TextArea-char-count-color);

    display: flex;
    flex-direction: column;
    gap: var(--hop-TextArea-gap);
    inline-size: var(--inline-size);
}

.hop-TextArea--fluid  {
    --inline-size: 100%;
}

.hop-TextArea[data-resize-mode="vertical"] {
    --resize: vertical;
}

.hop-TextArea[data-over-max-length] {
    --char-count-color: var(--hop-TextArea-char-count-color-invalid);
}

.hop-TextArea[data-disabled] {
    --char-count-color: var(--hop-TextArea-char-count-color-disabled);
}

.hop-TextArea__Label {
    order: 0;
}

.hop-TextArea__prefix {
    color: var(--hop-TextArea-prefix-color);
}

.hop-TextArea .hop-TextArea__InputGroup {
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
    order: 1;

    block-size: auto;
    padding: var(--hop-TextArea-input-group-padding);
}

.hop-TextArea .hop-TextArea__textarea {
    resize: var(--resize);
    padding: var(--hop-TextArea-input-padding);
}

.hop-TextArea__char-count {
    padding: var(--hop-TextArea-char-count-padding);
    color: var(--char-count-color);
}

.hop-TextArea__ErrorMessage,
.hop-TextArea__HelperMessage {
    order: 3;
}