.hop-TextArea  {
    --hop-TextArea-gap: var(--hop-space-stack-xs);
    --hop-TextArea-inline-size: 20rem;
    --hop-TextArea-prefix-color: var(--hop-neutral-text-weak);
    --hop-TextArea-input-min-height: 2rem;
    --hop-TextArea-sm-font-family: var(--hop-body-sm-font-family);
    --hop-TextArea-sm-font-size: var(--hop-body-sm-font-size);
    --hop-TextArea-sm-font-weight: var(--hop-body-sm-font-weight);
    --hop-TextArea-sm-line-height: var(--hop-body-sm-line-height);
    --hop-TextArea-md-font-family: var(--hop-body-md-font-family);
    --hop-TextArea-md-font-size: var(--hop-body-md-font-size);
    --hop-TextArea-md-font-weight: var(--hop-body-md-font-weight);
    --hop-TextArea-md-line-height: var(--hop-body-md-line-height);
    --hop-TextArea-color-disabled: var(--hop-neutral-text-disabled);
    --hop-TextArea-placeholder-color: var(--hop-neutral-text-weakest);
    --hop-TextArea-placeholder-color-disabled: var(--hop-neutral-text-disabled);

    /* Internal Variables */
    --inline-size: var(--hop-TextArea-inline-size);
    --resize: none;
    --input-placeholder-color: var(--hop-TextArea-placeholder-color);
    --font-family: var(--hop-TextArea-md-font-family);
    --font-size: var(--hop-TextArea-md-font-size);
    --font-weight: var(--hop-TextArea-md-font-weight);
    --line-height: var(--hop-TextArea-md-line-height);
    --block-size: var(--hop-TextArea-md-block-size);

    display: flex;
    flex-direction: column;
    gap: var(--hop-TextArea-gap);

    inline-size: var(--inline-size);
    max-inline-size: 100%;
}

.hop-TextArea--fluid  {
    --inline-size: 100%;
}

.hop-TextArea[data-resize-mode="vertical"] {
    --resize: vertical;
}

.hop-TextArea__Label {
    order: 0;
}

.hop-TextArea__prefix {
    color: var(--hop-TextArea-prefix-color);
}

.hop-TextArea__RemainingCharacterCount{
    padding-block-end: var(--hop-space-inset-sm);
    padding-inline: var(--hop-space-inset-md);
}

.hop-TextArea__InputGroup {
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
    order: 1;

    padding: 0;

}

.hop-TextArea__ErrorMessage,
.hop-TextArea__HelperMessage {
    order: 3;
}

.hop-TextArea__textarea {
    resize: var(--resize);

    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 0;
    align-items: flex-end;

    box-sizing: border-box;
    inline-size: 100%;
    min-inline-size: 0;
    block-size: auto;
    min-block-size: 0;
    padding: var(--hop-space-inset-sm) var(--hop-space-inset-md);

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: inherit;

    background-color: transparent;
    border: 0;
    outline-style: none;
}

.hop-TextArea__textarea--with-character-count {
    padding-block-end: 0;
}

.hop-TextArea__textarea--sm {
    --font-family: var(--hop-TextArea-sm-font-family);
    --font-size: var(--hop-TextArea-sm-font-size);
    --font-weight: var(--hop-TextArea-sm-font-weight);
    --line-height: var(--hop-TextArea-sm-line-height);
}

.hop-TextArea__textarea::placeholder {
    font-family: var(--hop-TextArea-placeholder-font-family);
    font-size: var(--hop-TextArea-placeholder-font-size);
    font-weight: var(--hop-TextArea-placeholder-font-weight);
    line-height: var(--hop-TextArea-placeholder-line-height);
    color: var(--input-placeholder-color);
}

.hop-TextArea__textarea[data-disabled] {
    --input-placeholder-color: var(--hop-TextArea-placeholder-color-disabled);

    color: var(--hop-TextArea-color-disabled);
}
