/* TypoTable */
.hd-table__cell.hd-typo__cell {
    text-align: left;
    border-bottom: 0;
}

.hd-properties-table__tbody .hd-properties-table__cell {
    padding: var(--hd-space-1);
    text-wrap: nowrap;
}

.hd-properties-table__tbody .hd-properties-table__token-value-cell {
    text-wrap: wrap;
}

.hd-typo__cell-font-family {
    max-width: 7.8125rem;
}

.hd-top__row .hd-table__cell {
    border-top: var(--hd-border-size) solid var(--hd-color-neutral-border);
}

.hd-typo__row:has(> :nth-child(5)) .hd-typo__cell:first-child {
    padding-left: 0;
}

.hd-typo__row:has(> :nth-child(3)) > .hd-typo__cell,
.hd-typo__row:has(> :nth-child(4)) > .hd-typo__cell {
    padding-left: 0;
}

/* Has No Sizes */
.hd-typo-table--has-no-sizes .hd-typo__cell {
    padding: 0;
}

.hd-typo-table--has-no-sizes .hd-properties-table__tbody tr > td:first-child {
    padding-left: 0;
}

/* OFFSET */
.hd-properties-table__tbody > .hd-typo-offset-cell td {
    border-top: var(--hd-border-size) dashed var(--hd-color-neutral-border);
}

/* Icon Spec Table */
.hd-table--icon-spec th {
    width: 25%;
}

.hd-table--icon-spec .hd-table__column:last-child, .hd-table--icon-spec .hd-table__cell:last-child {
    text-align: left;
}

/* Links in Table */
.hd-table__link {
    color: var(--hd-color-accent-text);
    font-weight: 600;
    text-decoration: none;
}

.hd-table__wrapper {
  width: 100%;
  overflow-x: auto;
}
